{# 
  Sidebar for posts, which includes various metadata and links based on the post type.
  The content and structure of the sidebar vary depending on the post type, such as 
  team members, events, research articles, etc. 
#}
{% set category = post.terms('research-categories')|first %}
<div
	class="article__meta article__meta-{{post.post_type}}">

	{# Include general article metadata, such as the publication date and author. #}
	{% include "partial/article-meta-data.twig" %}

	{# Display author and date for standard post types (excluding specific ones like team, board, etc.) #}
	{% if post.post_type != 'tribe_events' and post.post_type != 'research' and post.post_type != 'blogs' and post.post_type != 'team' and post.post_type != 'board' and post.post_type != 'page' %}
		<p
			class="article-meta__item article__author">
			{# TODO: potentially remove/fix this line for the author display #}
			<span class="author__by">By</span>
			<a class="author__link" href="/team/{{post.author|lower|split(' ')|join('-')}}">{{ post.author.name ? post.author.name : post.author.user_nicename|capitalize }}</a>
		</p>
		<p class="article-meta__item article__date">{{ post.date }}</p>
	{% endif %}

	{# Include specific metadata for tribe events, such as event details. #}
	{% if post.post_type == "tribe_events" %}
		{% include 'partial/event-meta.twig' %}
	{% endif %}

	{# Display a thumbnail image and a team link for team and board post types. #}
	{% if post.post_type == 'team' or post.post_type == 'board' %}
		<div class="mate__img-wrap">
			{% if "-150x150" in post.thumbnail.src %}
				{# If the image size is already 150x150, use it as is. #}
				{% set imagelink = post.thumbnail.src %}
			{% else %}
				{# Otherwise, modify the image URL to request a 150x150 thumbnail. #}
				{% set link = post.thumbnail.src | split('') %}
				{% set index = 0 %}
				{% for i in 0.. (link | length - 2) %}
					{% if link[i] == "." %}
						{% set index = i %}
					{% endif %}
				{% endfor %}
				{% set imagelink = link|slice(0,index)|join("")~"-150x150"~link|slice(index,link|length)|join("") %}
			{% endif %}
			<img class="mate__img" src="{{ post.thumbnail.src('thumbnail') }}" srcset="{{ post.thumbnail.srcset }}" sizes="{{ post.thumbnail.img_sizes }}" alt="{{ post.thumbnail.alt }}" loading="eager"/>
		</div>
		<br>
		{% include 'partial/team-link.twig' %}
	{% endif %}

	{# Include metadata specific to research or blogs post types. #}
	{% if post.post_type == "research" or post.post_type == "blogs" %}
		{% include 'partial/research-meta.twig' %}

		{# Display the category for the research post. #}
		{% if post.post_type != "blogs" %}
			{# Display a link to the category associated with the research post. #}
			{% set category = post.terms('research-categories')|first %}
			{% if category.slug != 'uncategorized' %}
				<p class="testArticleMetaTwig article-meta__item article__category article__category--{{ category.slug }}">
					<a class="category-name category-color--{{ category.slug }}" href="/research/category/{{ category.slug }}/">←
						{{ category.name }}</a>
				</p>
			{% endif %}
		{% endif %}

		{# List of researchers #}
		<section class="researchers-tease">
			{% if post.meta('project_team_member')  %}
				<h2 class="researchers-tease__title">{{ (post.post_type == "research") ? "Researchers" : "Authors" }}</h2>
				{# Display associated researchers or team members for the post. #}
				{% for researcher in post.getResearchers %}
					{% include 'partial/teammate-tease.twig' with { mate: researcher, status: ' additional' } %}
				{% endfor %}
				{# Display additional team members if they exist. #}
				{% for researcher in post.meta('additional_team_members') %}
					{% include 'partial/teammate-tease.twig' with { mate: researcher, status: ' additional' } %}
				{% endfor %}
			{% endif %}

			{# Author for research posts #}
			{% if post.post_type == "research" and post.getTeamAuthors %}
				<h2 class="researchers-tease__title authors-tease__title">Authors</h2>
				{% set team_authors = post.getTeamAuthors %}
				{% if team_authors %}
					{% for author in team_authors %}
						{% include 'partial/teammate-tease.twig' with { mate: author, status: ' additional' } %}
					{% endfor %}
				{% endif %}
			{% endif %}
		</section>
	{% endif %}

	{# Display directors and a sidebar menu if the post type is a page. #}
	{% if post.post_type == "page" %}
		{# Checks if the getDirectors array has a length greater than 0, meaning there are directors assigned #}
		{% if post.getDirectors | length > 0 %}
			<section class="director-tease">
				<h4 class="director-tease__title">Directors</h4>
				{% for director in post.getDirectors %}
					{% include 'partial/teammate-tease.twig' with { mate: director } %}
				{% endfor %}
			</section>
		{% endif %}
		<section class="sidebar-menu sidebar-menu__{{post.post_type}}">
			<h4 class="sidebar-menu__title">Menu</h4>
			<ul class="filters filters--{{ post.category.slug }}-menu">
				<li
					class="filter__item filter__item-- filter__item--research filter__item--current-parent filter__item--top-item collapsable--max-tablet">
					{# Display a list of menu links associated with the page. #}
					{% for name, link in post.getMenuLinks %}
						<li class="filter__item filter__item--sub-item">
							<a class="filter__link sidebar-menu__link" href="{{link}}">{{name}}</a>
						</li>
					{% endfor %}
				</li>
			</ul>
		</section>
	{% endif %}

	{# Display a newsletter widget for post types other than team or board. #}
	{% if post.post_type != "team" and post.post_type != "board" %}
		<aside class="newsletter widget">
			{{ newsletter }}
		</aside>
	{% endif %}

	{# Include social share buttons or other sharing options. #}
	{% if post.post_type != 'team' %}
		{% include 'partial/social.twig' with { align: 'left' } %}
	{% endif %}

</div>
