<div class="brandbar">
	<a href="https://moody.utexas.edu" class="brandbar__link">
		<span class="sr-text">University of Texas at Austin</span>
		<span class="brandbar__logo">
			<picture>
				<source srcset="{{ theme.link }}/assets/img/brandbar/brandbar-logo.webp" type="image/webp">
				<img src="{{ theme.link }}/assets/img/brandbar/brandbar-logo.png" 
					alt="University of Texas at Austin" 
					width="112" 
					height="27" 
					decoding="async"
					loading="eager"
					sizes="112px"
					srcset="{{ theme.link }}/assets/img/brandbar/brandbar-logo.png 1x, {{ theme.link }}/assets/img/brandbar/brandbar-logo@2x.png 2x">
			</picture>
			<picture>
				<source srcset="{{ theme.link }}/assets/img/brandbar/brandbar-logo-2.webp" type="image/webp">
				<img src="{{ theme.link }}/assets/img/brandbar/brandbar-logo-2.png" 
					alt="Moody College of Communication" 
					width="85" 
					height="27" 
					decoding="async"
					loading="eager"
					sizes="85px"
					srcset="{{ theme.link }}/assets/img/brandbar/brandbar-logo-2.png 1x, {{ theme.link }}/assets/img/brandbar/brandbar-logo-2@2x.png 2x">
			</picture>
		</span>
	</a>
</div>
