{% if options.navigation_settings.brand_bar %}
	<div class="brandbar" {% if options.navigation_settings.brand_bar.brandbar_color %}style="background-color: {{options.navigation_settings.brand_bar.brandbar_color}};"{% endif %}>
			<a href="{{options.navigation_settings.brand_bar.brandbar_redirect}}" class="brandbar__link">
				<span class="sr-text">University of Texas at Austin</span>
				<span class="brandbar__logo">
					<picture>
						<source srcset="{{options.navigation_settings.brand_bar.brandbar_logo_ut.url}}" type="image/webp">
						<img src="{{options.navigation_settings.brand_bar.brandbar_logo_ut.url}}" 
							alt="University of Texas at Austin" 
							width="112" 
							height="27" 
							decoding="async"
							loading="eager"
							sizes="112px"
							srcset="{{options.navigation_settings.brand_bar.brandbar_logo_ut.url}} 1x, {{options.navigation_settings.brand_bar.brandbar_logo_ut.url}} 2x">
					</picture>
					<picture>
						<source srcset="{{options.navigation_settings.brand_bar.brandbar_logo_moody.url}}" type="image/webp">
						<img src="{{options.navigation_settings.brand_bar.brandbar_logo_moody.url}}"
							alt="Moody College of Communication" 
							width="85" 
							height="27" 
							decoding="async"
							loading="eager"
							sizes="85px"
							srcset="{{options.navigation_settings.brand_bar.brandbar_logo_moody.url}} 1x, {{options.navigation_settings.brand_bar.brandbar_logo_moody.url}} 2x">
					</picture>
				</span>
			</a>
	</div>
{% endif %}
