{% if pagination.pages is not empty %}
	<div class="pagination-container">
		<ul class="pagination horiz-list">
			<li class="horiz-list__item pagination__item pagination__item--first{{ pagination.pages|first and pagination.pages|first.current == true ? ' pagination__item--disabled'}}">
				<a class="pagination__link" href="{{ pagination.pages|first.link }}">First</a>
			</li>

			<li class="horiz-list__item pagination__item pagination__item--prev{{ not pagination.prev ? ' pagination__item--disabled'}}">
				<a class="pagination__link" href="{{ pagination.prev.link }}"> Previous</a>
			</li>

			{% for page in pagination.pages %}
				<li class="horiz-list__item pagination__item{{ not page.link and not page.current ? ' pagination__item--disabled'}}{{ page.current ? ' pagination__item--current'}}">
					<a 
						{% if page.current %}
							href="{{ page.link }}"
							class="pagination__link pagination__link--current"
							aria-current="page"
						{% elseif page.link %}
							href="{{ page.link }}"
							class="pagination__link"
							{% if page.title == 'Previous' %}
								aria-label="Go to previous page"
							{% elseif page.title == 'Next' %}
								aria-label="Go to next page"
							{% elseif page.title == 'Last' %}
								aria-label="Go to last page"
							{% elseif page.title == 'First' %}
								aria-label="Go to first page"
							{% else %}
								aria-label="Go to page {{ page.title }}"
							{% endif %}
						{% else %}
							role="button"
							aria-disabled="true"
							class="pagination__link pagination__link--disabled"
							tabindex="-1"
						{% endif %}
					>{{ page.title }}</a>
				</li>
			{% endfor %}

			<li class="horiz-list__item pagination__item pagination__item--next {{ not pagination.next ? ' pagination__item--disabled'}}">
				<a class="pagination__link" href="{{ pagination.next.link  }}">
					Next
				</a>
			</li>
		   
			<li class="horiz-list__item pagination__item--last{{ pagination.pages|last and pagination.pages|last.current == true ? ' pagination__item--disabled'}}">
				<a class="pagination__link" href="{{ pagination.pages|last.link }}">Last</a>
			</li>
		</ul>
	</div>
{% endif %}
