{# Full Report button #}
{% if post.getReport %}
	<p class="article-meta__item article-meta__item--research">
	{% set category = post.terms('research-categories')|first %}
		{% if post.category.slug == "media-ethics" %}
			<a href="{{ post.getReport }}" class="btn btn--stretch btn--icon media-ethics-meta__btn btn--{{ post.category.slug }} btn--research-report" filename="{{ post.category.slug}} {{post.title}}">
				<svg class="icon btn__icon icon--cloud-download"><use xlink:href="#cloud-download"></use></svg>
				<span class="sr-text">Download </span> 
				<span class="btn__text">Case Study PDF</span>
			</a>
		{% elseif post.getReport %}
			<a href="{{ post.getReport }}" class="btn btn--stretch btn--icon research-meta__btn btn--{{ post.category.slug }} btn--research-report" filename="{{ post.category.slug}} {{post.title}}">
				<svg class="icon btn__icon icon--cloud-download"><use xlink:href="#cloud-download"></use></svg>
				<span class="sr-text">Download </span> 
				<span class="btn__text">Full Report</span>
			</a>
		{% else %}
			<p class="article-meta__item article-meta__item--research">
				<a href="{{ post.getSummary }}" class="btn btn--stretch btn--icon btn--ghost btn--{{ post.category.slug }} research-meta__btn btn--research-summary">
					<svg class="icon btn__icon icon--cloud-download"><use xlink:href="#cloud-download"></use></svg>
					<span class="sr-text">Download </span>
					<span class="btn__text">Summary</span>
				</a>
			</p>
		{% endif %}
	</p>
{% endif %}