{% set animate_direction = '' %}
{% if main.header_group.header_border == 'right' %}
	{% set animate_direction = 'item-slide-in-fade-in-rev' %}
{% elseif main.header_group.header_border == 'left' %}
	{% set animate_direction = 'item-slide-in-fade-in' %}
{% else %}
	{% set animate_direction = 'item-animate' %}
{% endif %}

<div class="ann__header-container {% if width %}ann__width-{{ width }}{% endif %} header-{{ main.header_group.header_position }} header-align-{{ main.header_group.header_align }} {% if main.header_group.header_border != 'none' %}header-border header-border-{{ main.header_group.header_border }}{% endif %} {% if main.header_group.header_position != 'center' and main.header_group.header_deco == 'show' %}header-deco{% endif %}">
	<div class="ann__header-wrap {% if main.header_group.header_border != 'none' %}item-scale-up{% endif %}" {% if main.header_group.header_border != 'none' and main.header_group.header_border_color %}style="border-color:{{ main.header_group.header_border_color }};"{% endif %}>
		{% if main.header_group.subheader %}
			<h3 class="ann__subheader {{ animate_direction }}" {% if main.header_group.subheader_color %} style="color:{{ main.header_group.subheader_color }};" {% endif %}>{{ main.header_group.subheader }}</h3>
		{% endif %}
		{% if main.header_group.header %}
			<h2 class="ann__header {{ animate_direction }}" {% if main.header_group.header_color %} style="color:{{ main.header_group.header_color }};" {% endif %}>{{ main.header_group.header }}</h2>
		{% endif %}
	</div>
</div>