<div class="ann__header-container header-{{ main.header_group.header_position }} header-align-{{ main.header_group.header_align }} {% if main.header_group.header_border != 'none' %}header-border header-border-{{ main.header_group.header_border }}{% endif %} {% if main.header_group.header_position != 'center' and main.header_group.header_deco == 'show' %}header-deco{% endif %}">
	<div class="ann__header-wrap" {% if main.header_group.header_border != 'none' and main.header_group.header_border_color %}style="border-color:{{ main.header_group.header_border_color }};"{% endif %}>
		<h3 class="ann__subheader fade-in-up-2" {% if main.header_group.subheader_color %} style="color:{{ main.header_group.subheader_color }};" {% endif %}>{{ main.header_group.subheader }}</h3>
		<h2 class="ann__header fade-in-up-1" {% if main.header_group.header_color %} style="color:{{ main.header_group.header_color }};" {% endif %}>{{ main.header_group.header }}</h2>
	</div>
</div>