{# 
  teammate-tease.twig - Template partial for displaying a teaser or preview of a team member.

  This template handles the display of a simplified team member profile, usually used in lists 
  or related content sections. It includes the member's image, name, and designation. The content 
  is conditionally displayed based on the context and available data.

  Available variables:
  - mate: The team member object containing the member's data (e.g., name, image, designation).
  - post: The current post object, used to determine the context (e.g., research, page).
  - status: Additional classes or identifiers for styling or state management.
#}

{% if mate %}
	<div
		class="{{ mate.member_image ? ' mate--has-img'}} mate--tease grid grid--col-12{{status}}">

		{# Conditional link wrapping based on the post type (e.g., research or page) #}
		{% if post.post_type == 'research' or post.post_type == 'page' %}
			{% if mate.getDisplayLink %}
				<a class="mate-tease__link" href="{{site.url}}/team/{{mate.slug}}/"></a>
			{% endif %}
		{% endif %}

		{# Display the team member's image if available and not in "Former CME" category #}
		{% if mate.thumbnail and mate.terms('team_category') | join(', ') != "Former CME" %}
			<div class="mate__img-wrap">
				<img class="mate__img" src="{{ mate.thumbnail.src('thumbnail') }}" alt="{{ mate.thumbnail.alt }}"/>
			</div>
		{% elseif mate.member_image and mate.terms('team_category') | join(', ') != "Former CME" %}
			<div class="mate__img-wrap">
				<img class="mate__img member--image" src="{{ image.src }}" alt="{{ image.alt }}"/>
			</div>
		{% endif %}
		{# Display the team member's name, with a fallback to 'researcher.name' or 'mate' #}
		<div class="mate__content{{status}}">
			<p class="mate__name">{{ researcher.name|default(mate) }}</p>
			{% if mate.thumbnail and mate.terms('team_category') | join(', ') != "Former CME" %}
				<p class="mate__labels">{{ mate.getDesignation|default("Researcher") }}</p>
			{% elseif mate.terms('team_category') | join(', ') == "Former CME" %}
				<p class="mate__labels">Researcher</p>
			{% elseif researcher.title != empty %}
				<p class="mate__labels">{{ researcher.title }}</p>
			{% else %}
				<p class="mate__labels">{{ mate.getDesignation|default("Researcher") }}</p>
			{% endif %}
		</div>
	</div>
{% endif %}
