{# set initial values #}
{% set defaultimg = theme.link ~ '/assets/img/default-logo.png' %}
{% set tile_image = false %}
{% set tile_link = tile.link %}
{% set tile_target_external = false %}
{% set tile_classes = 'tile tile--' ~ post_type %}
{% set tile_date = tile.date is defined and tile.date ? tile.date : false %}

{# 
Press tiles have a link to the article URL
Publication tiles have a link to the publication URL
Other tiles have a link to the post URL
#}
{% if post_type == 'press' %}
	{% set tile_link = tile.meta('press_article_url') %}
	{# 
				for press tiles in the solidarity-journalism-video	category, 
				`press_article_publication_date_other` will be true, so
				we need to get the `press_article_publication_date_other_txt` field in place of the date
			#}
	{% if tile.meta('press_article_publication_date_other') %}
		{% set tile_date = tile.meta('press_article_publication_date_other_txt') %}
	{% else %}
		{% set raw_date = tile.meta('press_article_publication_date') %}
		{% if raw_date %}
			{# 
										Append ' 12:00:00' to ensure the date is always interpreted as midday UTC.
										This prevents timezone conversion from rolling the date back a day
										when displaying in US timezones (e.g., Chicago, Los Angeles).
										The database stores only the date (YYYYMMDD), so we add a time for safe display.
									#}
			{% set formatted_date = raw_date|slice(0,4) ~ '-' ~ raw_date|slice(4,2) ~ '-' ~ raw_date|slice(6,2) ~ ' 12:00:00' %}
			{% set tile_date = formatted_date|date('F j, Y', wp_timezone) %}
		{% else %}
			{% set tile_date = '' %}
		{% endif %}
	{% endif %}

{% elseif post_type == 'publication' %}
	{% set tile_link = tile.meta('publication_url') %}
	{% set tile_classes = tile_classes ~ ' tile--has-img' %}
	{% set tile_image = true %}
	{% set tile_date = tile.meta('publication_date') %}

{% elseif tile.thumbnail or post_type != 'press' %}
	{% set tile_classes = tile_classes ~ ' tile--has-img' %}
	{% set tile_image = true %}
	{% set tile_date = tile.date %}

{% endif %}

{# handle external links #}
{% if (post_type == 'press' or post_type == 'publication') and not (tile_link starts with site.url) %}
	{% set tile_target_external = true %}
{% endif %}

{% if tile_link starts with site.url %}
	{% set tile_target_external = false %}
{% endif %}


{# 
	Dynamically set `loading="eager"` prop
	on images above the fold
	@props
		- index: loop number
		- loadEagerTiles: # of tile images to set 'eager' 
		loading: default `lazy`, `eager` image is loaded right away
#}
{% set loading = 'lazy' %}
{% if loadEagerTiles != 0 %}
	{% if index <= loadEagerTiles %}
		{% set loading = 'eager' %}
	{% endif %}
{% endif %}

<div
	class="{{ tile_classes }}">

	{# Tile image #}
	{% if tile_image %}
		<div class="tile__img-wrap">
			{% if tile.thumbnail %}
				<img src="{{ tile.thumbnail.src('grid-large') }}" srcset="{{ tile.thumbnail.srcset }}" sizes="{{ tile.thumbnail.img_sizes }}" alt="{{ tile.thumbnail.alt }}" class="tile__img" loading="{{ loading }}"/>
			{% else %}
				<img src="{{ defaultimg }}" srcset="{{ defaultimg }} 1x, {{ defaultimg }} 2x" sizes="(max-width: 600px) 100vw, 600px" alt="Default image" class="tile__img" loading="{{ loading }}"/>
			{% endif %}
		</div>
	{% endif %}


	{# Tile title block #}
	<div
		class="tile__title-wrap">
		{# Tile, Date, Publisher, Authors #}
		{% if post_type == 'press' %}
			{% if tile_date %}
				<time class="tile__date tile__date--press" datetime="{{ tile_date|date('Y-m-d') }}">{{ tile_date }}</time>
			{% endif %}
			<h3 class="tile__title h3">{{ tile.title }}</h3>
			<div class="tile__publisher">
				{{ tile.meta('press_article_publisher') }}
			</div>

		{% elseif post_type == 'publication' %}
			<h3 class="tile__title h3">{{ tile.title }}</h3>
			<p class="tile__authors">
				{{ tile.meta('publication_authors') }}
			</p>
			{% if tile_date %}
				<time class="tile__date tile__date--publication" datetime="{{ tile.meta('publication_date')|date('Y-m-d') }}">
					{% if tile.meta('publication_year_date') %}
						{{ tile.meta('publication_date')|date('Y') }}
					{% else %}
						{{ tile.meta('publication_date')|date('F j, Y') }}
					{% endif %}
				</time>
			{% endif %}
			<p class="tile__publisher">
				{{ tile.meta('publication_subtitle') }}
			</p>

		{% else %}
			<div class="tile__label" aria-hidden="true">
				{# The following line is the old code here #}
				{# {{ tile.vertical.name ? tile.vertical.name : tile.terms('verticals') | join(', ') }} #}<div class="tile__bar"></div>
			</div>
			<h2 class="tile__title h3">
				{{ tile.title|length > 50 ? tile.title|slice(0, 50) ~ "..." : tile.title}}
			</h2>
			<time class="tile__date" datetime="{{ tile.date|date('Y-m-d') }}">{{ tile.date }}</time>
		{% endif %}

		{# Tile date #}
		{% if post_type == 'tribe_events' %}
			<div class="tile__date">{% include 'partial/tile-event-date.twig' %}</div>
		{% endif %}

		{# Tile excerpt #}
		{% if post_type != 'press' and post_type != 'publication' %}
			{% if tile.excerpt %}
				<div class="tile__excerpt">
					{{ tile.excerpt }}
				</div>
			{% endif %}
		{% endif %}

		{# Only show terms and edit link to admin users #}
		{% if user.can_edit %}
			<div
				class="tile__admin-links">
				{# Terms #}
				{% set terms = [] %}
				{% for term in tile.terms() %}
					{% set terms = terms|merge([term.name]) %}
				{% endfor %}
				{% if terms|length > 0 %}
					<p class="tile__terms">{{ terms|join(', ') }}</p>
				{% endif %}
				{# Edit link #}
				<a href="{{ tile.edit_link }}" class="tile__edit-link" target="_blank" rel="noopener" aria-label="Edit {{ tile.title }} (opens in new tab)">Edit</a>
			</div>
		{% endif %}
	</div>

	{# Tile link - now the only interactive element #}
	<a class="tile__link" href="{{ tile_link }}" {% if tile_target_external %} target="_blank" rel="noopener" aria-label="{{ tile.title }} (opens in new tab)" {% endif %}>
		<span class="sr-text">{{ tile.title }}</span>
	</a>
</div>
