<div class="event__date event__date--{{ tile.getStartDate == tile.getEndDate ? 'single-day' : 'multi-day' }}">
	<time class="event__start-date" datetime="{{ tile.getStartDate|date('Y-m-d') }}">{{ tile.getStartDate }}</time>
	<span class="event__start-time">@ {{ tile.getStartTime }}</span>
	{% if tile.getStartDate != tile.getEndDate %}
	<time class="event__end-date" datetime="{{ tile.getEndDate|date('Y-m-d') }}">{{ tile.getEndDate }}</time>
	{% endif %}
	<span class="event__end-time">{{ tile.getEndTime }}</span>
</div>