{# sets default feature image #}
{% set defaultimg = theme.link ~ '/assets/img/default-logo.png' %}

{# 
	Dynamically set `loading="eager"` prop
	on images above the fold
	@props
		- index: loop number
		- loadEagerTiles: # of tile images to set 'eager' 
		loading: default `lazy`, `eager` image is loaded right away
#}
{% set loading = 'lazy' %}
{% if loadEagerTiles != 0 %}
	{% if index <= loadEagerTiles %}
		{% set loading = 'eager' %}
	{% endif %}
{% endif %}

<div class="tile{{' tile--has-img'}} tile--research-cat--{{ tile.terms('research-categories')[0].slug  }} tile--vertical--{{ tile.vertical.slug ? tile.vertical.slug : tile.terms('verticals')[0].slug }}">

	<div class="tile__img-wrap">
			<img 
				src="{{ tile.thumbnail.src('grid-large') }}"
				srcset="{{ tile.thumbnail.srcset }}"
				sizes="{{ tile.thumbnail.img_sizes }}"
				alt="{{ tile.thumbnail.alt }}"
				class="tile__img" 
				loading="{{ loading }}"
			/>
	</div> 
 

	<div class="tile__title-wrap">
		<div class="tile__label">
			{# The following line is the old code here #}
			{# {{ tile.vertical.name ? tile.vertical.name : tile.terms('verticals') | join(', ') }} #}
			<div class="tile__bar"> </div>
		</div>

		<h3 class="tile__title h3">{{ tile.title|length > 50 ? tile.title|slice(0, 50) ~ "..." : tile.title}}</h3>

		{% if tile.post_type == 'tribe_events' %}
			<div class="tile__date">{% include 'partial/tile-event-date.twig' %}</div>
		{% elseif tile.date %}
			<p class="tile__date">{{ tile.date }}</p>
		{% endif %}

		{% if tile.excerpt %}
			<div class="tile__excerpt">
				{{ tile.excerpt }}
			</div>
		{% endif %}

	</div>
	<a class="tile__link" href="{{ tile.link }}">
		<span class="sr-text">{{ tile.title }}</span>
	</a>
</div>
