<div class="filters__wrapper">
	<div class="filter__container filter--{{ filters.slug }}">
		<h2 class="filter__title filter__title--{{ filters.slug }}" {% if options.filter_settings.filter_title_color %}style="color:{{options.filter_settings.filter_title_color}};"{% endif %}>{{ filters.title }}</h2>
		<ul class="filters filters--{{ filters.slug }}">
			<li class="filter__item filter__item--{{term.taxonomy}} filter__item--{{term.slug}} filter__item--{{term.taxonomy}}--{{term.slug}} {{ term.current ? 'filter__item--current'}} {{ term.currentParent ? 'filter__item--current-parent'}} {{ term.terms ? 'filter__item--top-item collapsable--max-tablet' : 'filter__item--sub-item'}}">
				<a class="filter__link {{ term.current ? 'filter__link--current'}} {{ term.terms ? '' : 'filter__link--child'}} {{ term.currentParent ? 'filter__link--current-parent'}} " href="/announcement/vertical/journalism">Journalism</a>
			</li>
			<li class="filter__item filter__item--{{term.taxonomy}} filter__item--{{term.slug}} filter__item--{{term.taxonomy}}--{{term.slug}} {{ term.current ? 'filter__item--current'}} {{ term.currentParent ? 'filter__item--current-parent'}} {{ term.terms ? 'filter__item--top-item collapsable--max-tablet' : 'filter__item--sub-item'}}">
				<a class="filter__link {{ term.current ? 'filter__link--current'}} {{ term.terms ? '' : 'filter__link--child'}} {{ term.currentParent ? 'filter__link--current-parent'}} " href="/announcement/vertical/media-ethics">Media Ethics</a>
			</li>
			<li class="filter__item filter__item--{{term.taxonomy}} filter__item--{{term.slug}} filter__item--{{term.taxonomy}}--{{term.slug}} {{ term.current ? 'filter__item--current'}} {{ term.currentParent ? 'filter__item--current-parent'}} {{ term.terms ? 'filter__item--top-item collapsable--max-tablet' : 'filter__item--sub-item'}}">
				<a class="filter__link {{ term.current ? 'filter__link--current'}} {{ term.terms ? '' : 'filter__link--child'}} {{ term.currentParent ? 'filter__link--current-parent'}} " href="/announcement/vertical/science-communication">Science Communication</a>
			</li>
		</ul>
	</div>
</div>
{% if options.filter_settings.filter_item_color and options.filter_settings.filter_item_color_hover %}
	<style>
		.filter__link {
				color: {{ options.filter_settings.filter_item_color }};
		}
		.filter__link:hover {
			border-color: {{ options.filter_settings.filter_item_color_hover }};
			color: {{ options.filter_settings.filter_item_color_hover }};
			}
	</style>
{% endif %}