{# 
    Archive template for Publication articles
    
    This template displays a grid of publication articles with their details including:
    - Title (with optional external link)
    - Publisher information
    - Publication date
    
    Available variables:
    - title: The archive title (e.g., "Publication")
    - posts: Array of Publication objects
		
		TODO:
		- Combine with archive-press.twig
#}
{% extends "base.twig" %}

{% block content %}
	{# Main publication archive section #}

	{% set categories = get_terms({
			'taxonomy': 'publication-categories',
			'hide_empty': true
		}) %}

	<section class="archive-section container container--lg full-width post-type--page">
		<div class="archive-header">
			<h1 class="tile tile--vertical--science-publications tile--intro--vertical--science-publications tile--intro">
				{% if function('is_tax', 'publication-categories') %}
					<a href="/publications">Publications</a>
					-	
					{{ function('single_term_title', '') }}
				{% else %}
				<span class="tile__title tile__title--intro" >
					{{ title }}
				</span>
				{% endif %}
			</h1>
			
			{# output the categories #}
			{# <div class="archive-categories">
				{% for category in categories %}
					<a href="{{ category.link }}">{{ category.title }}</a>
					{% if category.count > 1 %}
						({{ category.count }})
					{% endif %}
					{% if not loop.last %}
						|
					{% endif %}
				{% endfor %}
			</div> #}
		
		</div>
		
		{% if posts %}
			<div class="publications tiles grid grid--col-12 grid--gap-20">
				{% for post in archive.posts %}

					<article class="tile tile-archive {% if post.thumbnail %}tile--has-img{% endif %}">
						{% if post.thumbnail %}
							<div 
							class="tile__img-wrap" tabindex="0" role="button">
								<img 
								 src="{{ get_image(post.thumbnail).src('thumbnail') }}" 
								 srcset="{{ get_image(post.thumbnail).srcset }}" 
								 sizes="{{ get_image(post.thumbnail).img_sizes }}" 
								alt="{{ post.thumbnail.alt }}">
							</div>
						{% endif %}
						<div class="tile__container tile__container--archive">
							<a class="tile__link" href="{{ post.getUrl() }}" target="_blank" rel="noopener noreferrer"></a>
								
							<h2 class="tile__title h3">
								{{ post.title }}
							</h2>

							{% if post.getSubtitle() %}
								<div class="tile__label subtitle">
									{{ post.getSubtitle() }}
								</div>
							{% endif %}

							{% if post.getAuthors() %}
							<div class="tile__label">
								{{ post.getAuthors() }}
							</div>
							{% endif %}

							{# <div class="publication-meta"> #}

								{% if post.getPublicationDate() %}
									<div class="tile__label year">
										{{ post.getPublicationDate()|date('F j, Y') }}
									</div>
								{% endif %}
							{# </div> #}
							{% if post.excerpt %}
								<div class="tile__label subtitle">
									{{ post.excerpt }}
								</div>
							{% endif %}
						</div>
					</article>
				{% endfor %}
			</div>

			{% include 'partial/pagination.twig' with { pagination: archive.posts.pagination({show_all: false, mid_size: 3}) } %}
		{% else %}
			<p class="no-publications">No publications found.</p>
		{% endif %}
	</section>
{% endblock %}
