{% if the_post_template == 'annual-report' %}
	{% set wrapper_padding = ' flex-grid' %}
	{% set brand_bar = false %}
{% else %}
	{% set wrapper_padding = ' wrapper--pad' %}
	{% set brand_bar = true %}
{% endif %}

{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}
	<body class="{{body_class}}" {% if options.appearance.background_color %}style="background-color: {{options.appearance.background_color}};"{% endif %}>
		<a href="#main-content" class="skip-link">Skip to main content</a>
		<a href="#site-navigation" class="skip-link">Skip to navigation</a>
		<a href="#site-footer" class="skip-link">Skip to footer</a>
		<!-- Google Tag Manager (noscript) -->
		<noscript>
			<iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5T4Z9KW" height="0" width="0" style="display:none;visibility:hidden"></iframe>
		</noscript>
		<!-- End Google Tag Manager (noscript) -->
		<div class="main-body-wrapper" {% if options.appearance.background_image %}style="background-image: url({{options.appearance.background_image.url}});"{% endif %}>
			{% include 'partial/svg.twig' %}

			{% block header %}
				<header class="header" >
					{% if brand_bar == true %}
						{% include 'partial/brandbar.twig' %}
					{% endif %}
					{% include 'header.twig' %}
				</header>
			{% endblock %}

			<main role="main" class="main wrapper{{ wrapper_padding }}" id="main-content">
				{% block content %}
					Sorry, no content
				{% endblock %}
			</main>

			{% block footer %}
				<footer id="site-footer" class="footer wrapper wrapper--pad">
					{% include 'footer.twig' %}
				</footer>
				{{ function('wp_footer') }}
				{# TODO: check if the below jquery-modal script is needed #}
				<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
			{% endblock %}
	</body>
</html>
