{# 
  filters.twig - Template partial for displaying a filter menu.

  This template is used to render a filter menu with various terms (categories, tags, etc.).
  The filters are typically associated with specific taxonomies or post types and are used 
  to allow users to navigate content more easily.

  Available variables:
  - filters: The filter object containing details about the filter menu, including its slug, title, and terms.
    - filters.slug: The slug identifier for the filter menu (e.g., 'media-ethics-menu').
    - filters.title: The title of the filter menu (e.g., 'Categories').
    - filters.terms: An array of term objects representing the individual filters.
#}

<div class="filters__wrapper">
	<div class="filter__container filter--{{ filters.slug }}">
		<h2 class="filter__title filter__title--{{ filters.slug }}" {% if options.filter_settings.filter_title_color %}style="color:{{options.filter_settings.filter_title_color}};"{% endif %}>{{ filters.title }}</h2>
		<ul class="filters filters--{{ filters.slug }}">
			{# Loop through each term in the filters array to create individual filter items #}
			{% for key, term in filters.terms %}
				{% include 'partial/filter-item.twig' with { term: term } %}
			{% endfor %}
		</ul>
	</div>
</div>
{% if options.filter_settings.filter_item_color and options.filter_settings.filter_item_color_hover %}
	<style>
		.filter__link {
				color: {{ options.filter_settings.filter_item_color }};
		}
		.filter__link:hover {
			border-color: {{ options.filter_settings.filter_item_color_hover }};
			color: {{ options.filter_settings.filter_item_color_hover }};
			}
	</style>
{% endif %}
