{% set current_url = post.link %}
{% if current_url matches '/tax-day-quiz/' %}
  {# Code or condition to handle when the URL contains "enp-quiz" #}
  <p style="text-align: center"><a href="/privacy-policy">Privacy Policy</a></p>
{% endif %}
<div class="footer__container container">
	<div class="footer__top">
		{{ topFooterWidgets }}
	</div>
	<div class="footer__footer grid grid--col-12 grid--gap-20">
		<div class="widget__wrapper widget--left">
			{{ leftFooterWidgets }}
			{% include 'partial/social.twig' %}
		</div>
		<div class="widget__wrapper widget--center">
			{# {% include 'menu.twig' with { menu: footerMenu } %} #}
			{{ centerFooterWidgets }}
			
			<p class="footer__copy hint text-center">© Copyright
				{{"now"|date('Y')}}
				Center for Media Engagement. All Rights Reserved.</p>
		</div>
		<div class="widget__wrapper widget--right">
			{{ rightFooterWidgets }}
		</div>
	</div>
</div>
