{# Main menu: https://dev.to/polgarj/bootstrap-navbar-with-vanilla-js-46km #}

{% if menu == mainMenu %}
	{% set navClass = 'menu navbar navbar-light' %}
{% else %}
	{% set navClass = 'menu' %}
{% endif %}

{% if menu %}
	<nav {{ id ? "id='#{id}'" }} class="{{navClass}} menu__{{ menu.slug }} {{ collapsable ? " collapsable" }}" role="navigation">
		{% if menu == mainMenu %}
			<div class="navbar__components" {% if options.navigation_settings.background_color %}style="background-color: {{options.navigation_settings.background_color}};"{% endif %}>
				<h1 class="header__logo navbar-brand" role="banner">
					<a class="header__logo__link" href="{{ site.link }}" rel="home">
						<span class="sr-text">
							{{ site.name }}
						</span>
						<picture>
							<!-- WebP versions for browsers that support WebP -->
							<source srcset="{{ theme.link }}/assets/img/logo/center-for-media-engagement.webp 1x, 
															{{ theme.link }}/assets/img/logo/center-for-media-engagement@2x.webp 2x, 
															{{ theme.link }}/assets/img/logo/center-for-media-engagement@3x.webp 3x" type="image/webp">

							<!-- PNG fallback for browsers that do not support WebP -->
							<source srcset="{{ theme.link }}/assets/img/logo/center-for-media-engagement.png 1x, 
															{{ theme.link }}/assets/img/logo/center-for-media-engagement@2x.png 2x, 
															{{ theme.link }}/assets/img/logo/center-for-media-engagement@3x.png 3x" type="image/png">

							<!-- Default image for browsers that don't support `picture` -->
							<img src="{{ theme.link }}/assets/img/logo/center-for-media-engagement.png" 
									alt="Center for Media Engagement Logo" 
									width="320" 
									height="56" 
									decoding="async" />
						</picture>
					</a>
				</h1>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
					{# <span class="navbar-toggler-icon"></span> #}
					<span class="hamburger-bars"></span>
				</button>
			</div>

			<div class="collapse navbar-collapse" id="navbarNavDropdown">
				<ul class="menu__list navbar-nav">
					{% for item in menu.items %}
						<li class="menu__item nav-item {% if item.children %}dropdown{% endif %} {{ item.classes | join(' ') }}"{% if item.children %} tabindex="{{ 0 }}" {% endif %}>
							<a class="menu__link" target="{{ item.target }}" {% if item.link %} href="{{ item.link }}" {% endif %}>
								{{ item.title }}
							</a>
							{% if item.children %}
								<ul class="menu__sublist">
									{% for child in item.children %}
										<li class="menu__item menu__sublist-item {{ child.classes | join(' ') }} {{ child.children ? " has-nested-menu" }}">
											<a tabindex="0" class="menu__link menu__sublist-link" target="{{ child.target }}" {% if child.link %} href="{{ child.link }}" {% endif %}>
												{{ child.title }}
											</a>
											{% if child.children %}
												<ul class="menu__sublist {{ collapsable ? " collapsable" }} nested">
													{% for item in child.children %}
														<li class="menu__item menu__sublist-item {{ item.classes | join(' ') }}">
															<a class="menu__link menu__sublist-link" target="{{ item.target }}" {% if item.link %} href="{{ item.link }}" {% endif %}>
																{{ item.title }}
															</a>
														</li>
													{% endfor %}
												</ul>
											{% endif %}
										</li>
									{% endfor %}
								</ul>
							{% endif %}
						</li>
					{% endfor %}
				</ul>
				{% include "partial/search.twig" with { 'menu' : mainMenu } %}
			</div>
		{% else %}
			<ul class="menu__list">
				{% for item in menu.items %}
					<li {% if item.children %} tabindex="{{0}}" {% endif %} class="menu__item {{ item.classes | join(' ') }}">
						<a class="menu__link" target="{{ item.target }}" {% if item.link %} href="{{ item.link }}"{% endif %} {% if item.classes[0] == "btn" %}style="color: {{ options.navigation_settings.link_color }}"{% endif %}
						>{{ item.title }}</a>
						{% if item.children %}
							<ul class="menu__sublist {{ collapsable ? " collapsable" }}">
								{% for child in item.children %}
									<li class="menu__item menu__sublist-item {{ child.classes | join(' ') }} {{ child.children ? " has-nested-menu"}}">
										<a tabindex="0" class="menu__link menu__sublist-link" target="{{ child.target }}" {% if child.link %} href="{{ child.link }}" {% endif %}>{{ child.title }}</a>
										{% if child.children %}
											<ul class="menu__sublist {{ collapsable ? " collapsable" }} nested">
												{% for item in child.children %}
													<li class="menu__item menu__sublist-item {{ item.classes | join(' ') }}">
														<a class="menu__link menu__sublist-link" target="{{ item.target }}" {% if item.link %} href="{{ item.link }}" {% endif %}>{{ item.title }}</a>
													</li>
												{% endfor %}
											</ul>
										{% endif %}
									</li>
								{% endfor %}
							</ul>
						{% endif %}
					</li>
				{% endfor %}
			</ul>
		{% endif %}
	</nav>
{% endif %}
{% if menu == quickLinks %}
	{% include "partial/search.twig" with {
			'menu' : quickLinks
		} %}
{% endif %}


{# if menu is main menu and has the aria-hidden attribute #}



