{% extends "base.twig" %}

{# Hide title / ACF / Page settings #}
{% if post.meta('show_header') == false %}
	{% set show_header = ' sr-text' %} 
{% endif %}

{% block content %}
	<article class="container container--lg full-width post-type--{{post.post_type}}" id="post--{{post.ID}} page-tools">

		<header class="article__header{{ show_header }}">
			<h1 class="article__title h1">{{post.title}}</h1>
		</header>
		<div class="container">
			<div class="article__wrapper container container--lg">
				<div class="article__content">
			{# FEATURED IMAGE #}
<img src="{{ post.thumbnail.src('2048x2048') }}"
     srcset="{{ post.thumbnail.srcset }}"
     sizes="{{ post.thumbnail.img_sizes }}"
     alt="{{ post.thumbnail.alt }}"
     loading="eager" />					
	 {{post.content}}
					<section class="tiles grid grid--col-12 grid--gap-20 section-margin">
						{% for item in post.meta('tips_grid') %}
							<div class="tile tile--has-img tile--research-cat-- tile--vertical--propaganda">
								{# IMAGE #}
								<div class="tile__img-wrap">
									{% set file = get_attachment(item.pdf_file) %}
									<img class="title__img" 
                                         src="{{ get_image(item.tip_poster).src('thumbnail') }}" 
                                         srcset="{{ get_image(item.tip_poster).srcset }}" 
                                         sizes="{{ get_image(item.tip_poster).img_sizes }}" 
                                         alt="{{ item.title }}" 
                                         loading="eager" />
									</div>
								{# TITLE #}
								<div class="tile__title-wrap">
									<div class="tile__label">
										<div class="tile__bar"></div>
									</div>
									<h3 class="tile__title h3">
										{{ item.tip_title }}
									</h3>
								</div>
								{# LINK #}
								<a class="tile__link" href="{{ file.src }}" target="_blank">Download
									{{ file.title }}</a>
							</div>
						{% endfor %}
					</section>
				</div>
			</div>
		</div>

	</article>
{% endblock %}
