{% extends "base.twig" %}

{# Hide title / ACF / Page settings #}
{% if post.meta('show_header') == false %}
	{% set show_header = ' sr-text' %} 
{% endif %}

{% block content %}
	<article class="article container container--md full-width post-type--{{post.post_type}}" id="post--{{post.ID}}">
		<header class="article__header{{ show_header }}">
			<h1 class="article__title">{{post.title}}</h1>
		</header>
		<div class="article__content">
			{{post.content}}
		</div>
		{% if post.meta('show_newsletter') %} {# ACF / Page settings #}
			<div class="newsletter__wrapper">
				<div class="newsletter-page widget">
						{{ newsletter }}
				</div>
			</div>
		{% endif %}
	</article>
{% endblock %}