{% extends "base.twig" %}
{% block brandbar %}{% endblock %}
{% block header %}
	{# HEADER #}
	{% if post.meta('header_image_enabled') %}
		<header class="ann__header">
			<div class="ann__header-wrapper">
				{% if post.thumbnail %}
					<img src="{{ post.thumbnail.src | resize(500,300) }}" srcset="{{ post.thumbnail.srcset }}" sizes="{{ post.thumbnail.img_sizes }}" alt="{{ post.thumbnail.alt }}" class="ann__header-img"/>
				{% endif %}
				{% if post.meta('download_report_button_url') %}
					<a href="{{ post.meta('download_report_button_url') }}" class="btn btn--annual-report" download>
						{% include "partial/cloud.twig" %}
						<span>{{ post.meta('download_report_button') }}</span>
					</a>
				{% endif %}
			</div>
		</header>	
	{% endif %}
{% endblock %}
{% block content %}

	{# MAIN CONTENT #}
	<section class="grid--flex">

		{% for main in post.meta('main') %}
			{# DIRECTOR #}
			{% if main.acf_fc_layout == 'director' %}
				<section class="ann__sct ann__sct_split wrapper--pad-huge">
					<div class="ann__block flex_row">
						<div class="ann__card" {% if main.background_color %} style="background-color:{{ main.background_color }};" {% endif %}>
							{% if main.director_image %}
								<div class="ann__img-wrap">
									<img src="{{ get_image(main.director_image).src }}" srcset="{{ get_image(main.director_image).srcset }}" sizes="{{ get_image(main.director_image).img_sizes }}" alt="{{ get_image(main.director_image).alt }}" class="ann__img-director"/>
								</div>
							{% endif %}
							{% if main.director_title %}
								<div class="ann__title ann__title_center">
									<h2 class="m--no" {% if main.title_color %} style="color:{{ main.title_color }};" {% endif %}>{{ main.director_title }}</h2>
								</div>
							{% endif %}
						</div>
					</div>
					{% if main.director_content %}
						<div class="grid">
							<div class="ann__content_size_sm">
								{{ main.director_content }}
							</div>
						</div>
					{% endif %}
				</section>

				{# RESEARCH #}
			{% elseif main.acf_fc_layout == 'research' %}
				<section class="grid ann__sct wrapper--pad-xlg vert-pad-sm">
					{% if main.research_title %}
						<div class={% if main.research_bolded_title %} "ann__title_main ann__title_navy" {% else %} "ann__title" {% endif %}>
							{{ main.research_title }}
						</div>
					{% endif %}
					{% if main.research_bolded_title %}
						<h2 class="ann__title_bolded ann__title_orange">{{ main.research_bolded_title}}</h2>
					{% endif %}
					{% if main.research_subtext %}
						<div class="ann__sct_research_subtext">
							<h3>{{ main.research_subtext}}</h3>
						</div>
					{% endif %}
					{# TODO: create class for #}
					<div class="grid ann__sct_research_grid">
						{% for item in main.research_block %}
							<div class="ann__sct_research_grid_item">
								{% if item.research_title %}
									<h2 class="ann__sct_research_title_text">{{ item.research_title }}</h2>
								{% endif %}
								{% if item.research_body %}
									<p class="ann__sct_research_body_text">{{ item.research_body }}</p>
								{% endif %}
							{% endfor %}
						</div>
					</section>

					{# HIGHLIGHTS #}
				{% elseif main.acf_fc_layout == 'highlights' %}
					<section class="ann__sct ann__sct_grid ann__sct_grid_pt wrapper--pad-xlg" {% if main.background_color %} style="background-color:{{ main.background_color }};" {% endif %}>
						<div class="ann__title ann__top_title ann__title_light">
							<h2>{{ main.highlights_title }}</h2>
						</div>
						<div class="grid ann__grid">
							{% for item in main.highlight %}
								<div class="ann__grid_item">
									{% if item.highlight_icon %}
										<img src="{{ get_image(item.highlight_icon).src }}" sizes="{{ get_image(item.highlight_icon).img_sizes }}" alt="{{ get_image(item.highlight_icon).alt }}"/>
									{% endif %}
									{% if item.highlight_number %}
										<h2 class="ann__grid_num">{{ item.highlight_number }}</h2>
									{% endif %}
									{% if item.highlight_title %}
										<h3 class="ann__grid_title">{{ item.highlight_title }}</h3>
									{% endif %}
									{% if item.highlight_text %}
										<p class="ann__grid_text">{{ item.highlight_text }}</p>
									{% endif %}
								</div>
							{% endfor %}
						</div>
					</section>

					{# NEWSWORTHY #}
				{% elseif main.acf_fc_layout == 'newsworthy' %}
					<section class="ann__sct ann__sct_grid wrapper--pad-xlg container--xl">
						{% if main.newsworthy_title %}
							<div class="ann__title">
								<h2>{{ main.newsworthy_title }}</h2>
							</div>
						{% endfor %}
					</div>
				</section>

			{# FALCULTY #}
			{% elseif main.acf_fc_layout == 'faculty' %}
				<section class="ann__sct ann__sct_whole ann__sct_grid_pt wrapper--pad-xlg ann__sct_faculty">
					{% if main.faculty_title %}
						<div class="ann__title ann__title_main">
							<h2>{{ main.faculty_title }}</h2>
						</div>
					{% endif %}
					{% if main.faculty_bolded_title %}
						<div class="ann__title_bolded ann__title_orange">{{main.faculty_bolded_title}} </div>
					{% endif %}
					<ul class="grid ann__list">
						{% for member in main.members %}
							<li class="ann__list_item grid">
								{% if member.member_image %}
									<div class="ann__list_img grid">
										<img src="{{ get_image(member.member_image).src | resize(300) }}"
											sizes="{{ get_image(member.member_image).img_sizes }}"
											alt="{{ get_image(member.member_image).alt }}" />
									</div>
								{% endif %}
							{% endfor %}
						</div>
						{% if main.gift_button_text %}
							<div class="ann__gift_btn">
								<a href="{{ main.gift_button_url }}" class="btn--ghost">
									{{ main.gift_button_text }}
								</a>
							</div>
						{% endif %}
					</footer>
					{# PARALLAX #}
				{% elseif main.acf_fc_layout == 'parallax' %}
					<section class="ann__sct ann__sct_parallax">
						<div class="ann__sct_parallax__group">
							<div class="ann__sct_parallax__layer--back" style="{% if main.parallax_image %}background-image:url({{ get_image(main.parallax_image).src }});background-position:center;background-repeat:no-repeat;background-size:cover;width:100%;height:100%;{% endif %}"></div>
							<div class="ann__sct_parallax__container">
								{% if main.parallax_text %}
									{% if main.parallax_bar %}
										<hr class="ann__sct_parallax-bar" style="background-color:{{ main.parallax_bar }}"></hr>
								{% endif %}
								<h1 class="container--xl" style="color:white;">{{ main.parallax_text }}</h1>
								{% if main.parallax_bar %}
									<hr class="ann__sct_parallax-bar" style="background-color:{{ main.parallax_bar }}"></hr>
							{% endif %}
						{% endif %}
					</div>
				</div>
			</section>
			<script>
				document.addEventListener('scroll', function () {
					const parallax = document.querySelector('#ann__sct_parallax .ann__sct_parallax__layer--back');
					let scrollPosition = window.pageYOffset;
					parallax.style.transform = 'translateY(' + (scrollPosition - window.innerHeight) * {{ main.parallax_speed }} + 'px)';
				});
			</script>
		{% endif %}

	{% endfor %}

</section>
{% block footer %}
	{{ function('wp_footer') }}
{% endblock %}{% endblock content %}
