{% extends "base.twig" %}

{# Hide title / ACF / Page settings #}
{% if post.meta('show_header') == false %}
	{% set show_header = ' sr-text' %} 
{% endif %}
{% block content %}

	<article class="container container--lg post-type--{{post.post_type}} press--{{post.post_type}}" id="post--{{post.ID}} page-tools">
		<header class="article__header{{ show_header }}">
		{% include "partial/tile-intro.twig" with { 'tile': post, 'show_excerpt': false } %}
		</header>

		<div class="article__content">
			{% if post.meta('above') %}
				{{ post.meta('above') }}
			{% endif %}
			{# TODO: Create a component for the press article card #}
			<div class="press-posts">
				{% if press_posts %}
					{% set posts = press_posts %}
					{# Loop through each article #}
					{% include 'tiles.twig' with { 
						intro: archive.intro, 
						posts: posts,
						loadEagerTiles: 6,
						post_type: archive.post_type
					} %}
				{% else %}
					<p>No press posts found.</p>
				{% endif %}
			</div>

			{% if post.meta('below') %}
				{{ post.meta('below') }}
			{% endif %}
			{# ACF press articles #}
			{% if post.meta('press_articles') %}
				<ul class="press-list" style="list-style:none;">
					{% for item in post.meta('press_articles') %}
						<li class="press-list__row" style="display:flex;justify-content:space-between;border-bottom:1px solid #000;margin-left:0;padding:0 15px;">
							<p class="press-list__source">{{ item.source }}</p>
							<p class="press-list__title">
								<a href="{{ item.title_link }}" target="_blank">
									{{ item.title_value }}
								</a>
							</p>
							<p class="press-list__date">{{ item.date }}</p>
						</li>
					{% endfor %}
				</ul>
			{% endif %}
		</div>
	</article>

{% endblock %}