{# 
Template Info
ACF group name: Homepage Detail
#}
{% extends "base.twig" %}

{% block content %}

	<section class="container container--xl wrapper--pad research-container">
		{% include 'partial/hero.twig' %}
	</section>

	<section class="home-research home-section">
		<div class="container container--xl wrapper--pad research-container">
			<h2 class="home-section__title">More Research</h2>
			{% include 'tiles.twig' with {
				posts : home.moreRecent,
				loadEagerTiles: 4
			} %}
		</div>
	</section>

	<section class="home-quiz-tool home-section dots-left" style="margin-top:-50px;">
		<div class="container container--xl wrapper--pad quiz-container">
			<div class="tiles">
				{% set quizInfo = post.meta('quiz_info') %}
				{% set quizImages = post.meta('quiz_images') %}
				<div class="home-section__tools--wrapper">
					<div
						class="home-section__quiz--info title title-quiz">
						<h2>{{ quizInfo.title }}</h2>
					</div>
					<div
						class="home-section__quiz--info description description-quiz">
						<p>{{ quizInfo.description }}</p>
						<div class="see-all-posts see-all-posts--quiz text-left">
							<a class="btn btn--ghost btn--see-all" href="{{ quizInfo.button_link }}" aria-label="{{ quizInfo.button_title }} about {{ quizInfo.title }}">{{ quizInfo.button_title }}</a>
						</div>
					</div>
					<div class="home-section__quiz--info pictures pictures-quiz">
					<div class="home-section__stats--wrapper tile-stats">
						<div class="stats1">
							<img src="{{ get_image(quizImages.image).src('2048x2048') }}" 
								alt="{{ get_image(quizImages.image).alt }}" 
								loading="eager"/>
						</div>
						<div class="stats2">
							<img src="{{ get_image(quizImages.image_two).src('2048x2048') }}" 
								alt="{{ get_image(quizImages.image_two).alt }}" 
								loading="eager"/>
						</div>
					</div>
				</div>
				</div>
			</div>
		</div>
	</section>
	{% for item in post.meta('tool_section') %}
		{% set infoBlock = item.info %}
		{% set imgBlock = item.images %}
		<section class="home-quiz-tool home-section grey-bkg">
			<div class="container container--xl wrapper--pad">
				<div class="tiles">
					<div class="home-section__tools--wrapper">
						<div class="home-section__button--info pictures {% if imgBlock.image_two != empty %}pictures--two-button {% else %}pictures-button{% endif %}">
							{% if imgBlock.image_one != empty %}
								<div class="quiz-example img-shadow">
									<img src="{{ get_image(imgBlock.image_one).src('medium') }}"
										srcset="{{ get_image(imgBlock.image_one).srcset }}"
										sizes="{{ get_image(imgBlock.image_one).img_sizes }}"
										alt="{{ get_image(imgBlock.image_one).alt }}"
										loading="eager"/>
								</div>
							{% endif %}
							{% if imgBlock.image_two != empty %}
								<div class="quiz-example img-shadow">
									<img src="{{ get_image(imgBlock.image_two).src('medium') }}"
										srcset="{{ get_image(imgBlock.image_two).srcset }}"
										sizes="{{ get_image(imgBlock.image_two).img_sizes }}"
										alt="{{ get_image(imgBlock.image_two).alt }}"
										loading="eager"/>
								</div>
							{% endif %}
						</div>
						<div class="home-section__button--info title title-button">
							<h3>{{ infoBlock.title }}</h3>
						</div>
						<div class="home-section__button--info description description-button">
							<p>{{ infoBlock.description }}</p>
							<div class="see-all-posts see-all-posts--buttons text-left">
								<a class="btn btn--ghost btn--see-all" href="{{ infoBlock.button_link }}" aria-label="{{ infoBlock.button_title }} about {{ infoBlock.title }}">{{ infoBlock.button_title }}</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	{% endfor %}

	{# <section class="newsletter__wrapper dots-right">
		<div class="newsletter-page widget">
			{{ newsletter }}
		</div>
	</section> #}
{% endblock %}
