{% extends "base.twig" %}

{# Hide title / ACF / Page settings #}
{% if post.meta('show_header') == false %}
	{% set show_header = ' sr-text' %} 
{% endif %}

{% block content %}
	<article class="article--default container container--lg post-type--{{post.post_type}}" id="post--{{post.ID}}">
		<header class="article__header{{ show_header }}">
			<h1 class="article__title">{{post.title}}</h1>
		</header>

		<section class="article__content"> {# Content / default wp editor #}
			{{post.content}}
		</section>
		
		{% if post.meta('resource_posts') or post.meta('custom_tiles') %}
			<section class="tiles grid grid--col-12 grid--gap-20"> {# Tiles / ACF #}
				{# newsroom resource posts from the relationship field #}
				{% if post.meta('resource_posts') %}
					{% for post in get_posts(post.resource_posts) %}
						{# get the tile file since we wont need the tile-intro.twig #}
						{% include "partial/tile.twig" with { 'tile': post } %}
					{% endfor %}
				{% endif %}
				
				{# custom tiles - flexible content field #}
				{% if post.meta('custom_tiles') %}
					{% for tile in post.meta('custom_tiles') %}
						{% if tile.acf_fc_layout == 'custom_post' %}
						{# set the image to the tile using TimberImage #}
							{% set image = TimberImage(tile.image) %}
							{# Create a custom tile using the flexible content field data (title, excerpt, image, and link) #}
							{% include "partial/tile.twig" with { 
								'tile': {
									'title': tile.title,
									'date': tile.date,
									'excerpt': tile.excerpt,
									'thumbnail': image,
									'link': tile.link,
								}
							} %}
						{% elseif tile.acf_fc_layout == 'existing_post' %}
							{% for post in get_posts(tile.post) %}
								{% include "partial/tile.twig" with { 'tile': post } %}
							{% endfor %}
						{% endif %}
					{% endfor %}
				{% endif %}
			</section>
		{% endif %}

		<section class="article__content"> {# Content / ACF #}
			{{ post.meta('second_section_content') }} {#  ACF / Solidarity Journalism #}
		</section>

		{% if post.meta('show_newsletter') %} {# ACF / Page settings #}
			<div class="newsletter__wrapper">
				<div class="newsletter-page widget">
					{{ newsletter }}
				</div>
			</div>
		{% endif %}

	</article>
{% endblock %}