{% extends "base.twig" %}

{% if post.meta('custom_posts_width') == false %}
	{% set twoColumns = 'tile-col__half' %}
{% endif %}

{# Hide title / ACF / Page settings #}
{% if post.meta('show_header') == false %}
	{% set show_header = ' sr-text' %} 
{% endif %}

{% block content %}
	<article class="article--default container container--xl post-type--{{post.post_type}}" id="post--{{post.ID}}">
		<header class="article__header{{ show_header }}">
			<h1 class="article__title">{{post.title}}</h1>
		</header>
		{# Featured image as header image #}
		{% if post.meta('featured_image_as_header_image') %}
			<div class="article__header-image">
				<img src="{{ get_image(post.thumbnail).src('2048x2048') }}" 
					srcset="{{ get_image(post.thumbnail).srcset }}" 
					sizes="{{ get_image(post.thumbnail).img_sizes }}" 
					alt="{{ get_image(post.thumbnail).alt }}" 
					loading="eager" />
			</div>
		{% endif %}
		
		<section class="article__content"> {# Content / default wp editor #}
			{{post.content}}
		</section>

		<div class="post__wrapper wrapper--pad">
			<div class="article__wrapper container container--lg">

				{# title 1 #}
				{% if post.meta('title_1') %}
					<h1 class="section-margin">{{ post.meta('title_1') }}</h1>
				{% endif %}

				<section class="tiles grid grid--col-12 grid--gap-20">
					
					{# newsroom resource posts from the relationship field #}
					{% if post.meta('newsroom_resource_posts') %}
						{% for post in get_posts(post.newsroom_resource_posts) %}
							{# get the tile file since we wont need the tile-intro.twig #}
							{% include "partial/tile.twig" with { 'tile': post } %}
						{% endfor %}
					{% endif %}

					{# custom posts #}
					{% if post.meta('custom_posts') %}
						{% for item in post.meta('custom_posts') %}
							<div class="tile tile--has-img {{ twoColumns }} tile--vertical--journalism">

								<div class="tile__img-wrap" tabindex="0" role="button">
									<img src="{{ get_image(item.image).src('grid-large') }}" 
										srcset="{{ get_image(item.image).srcset }}" 
										sizes="{{ get_image(item.image).img_sizes }}" 
										alt="{{ get_image(item.image).alt }}"
										loading="eager"/>
								</div>
								<div class="tile__title-wrap">
									<div class="tile__label">
										<div class="tile__bar"></div>
									</div>
									<h3 class="tile__title h3">{{ item.title }}</h3>
									<p class="tile__date" tabindex="0">{{ item.date }}</p>
									<div class="tile__excerpt">{{ item.excerpt }}</div>
								</div>
								<a class="tile__link" href="{{ item.link }}" {% if item.link_in_blank %}target="_blank"{% endif %}>
									<span class="sr-text">{{ item.link_title }}</span>
								</a>
							</div>
						{% endfor %}
					{% endif %}

				</section>

				{# title 2 #}
				{% if post.meta('content_section').title_2 %}
					<h1 class="section-margin">{{ post.meta('content_section').title_2 }}</h1>
				{% endif %}

				{# content 2 #}
				{% if post.meta('content_section').content_2 %}
					<p>{{ post.meta('content_section').content_2 }}</p>
				{% endif %}

				{# featured video #}
				{% if post.meta('video_section').featured_video %}
					<iframe class="featured-video" src={{post.meta('video_section').featured_video}} frameborder="0" allowfullscreen></iframe>
				{% endif %}

				{# video grid #}
				{% if post.meta('video_section').video_1 != blank %}
					<div class="small-video-container">
						<iframe class="small-video" src={{post.meta('video_section').video_1}} frameborder="0" allowfullscreen></iframe>
						{% if post.meta('video_section').video_2 != blank %}
							<iframe class="small-video" src={{post.meta('video_section').video_2}} frameborder="0" allowfullscreen></iframe>
						{% endif %}
						{% if post.meta('video_section').video_3 != blank %}
							<iframe class="small-video" src={{post.meta('video_section').video_3}} frameborder="0" allowfullscreen></iframe>
						{% endif %}
					</div>
				{% endif %}

				{% if post.meta('show_research_tiles') %}
					{# Section title #}
					{% if post.meta('title_3') %}
						<h2 class="section-margin">{{ post.meta('title_3') }}</h2>
					{% endif %}
					{# Research Tiles #}
					{% include 'tiles.twig' with { 
						posts : research,
						loadEagerTiles: 0
					}%}
				{% endif %}

				{# content 3 #}
				{% if post.meta('content_3') != blank %}
					{{post.meta('content_3')}}
				{% endif %}
			</div>
		</div>

	</article>
{% endblock %}
