{% extends "base.twig" %}

{% block content %}

		<div class="post__wrapper wrapper--pad">
				<div class="article__wrapper container container--lg">
						{% set hasVideo = post.getVideoEmbedLink and post.post_type != 'team' and post.post_type != 'board' %}
						{% set hasFeaturedImage = post.thumbnail.src and post.post_type != 'team' and post.post_type != 'board' %}
						{% set hideFeaturedImage = post.hide_feature_image %}
						<article class="article post-type-{{ post.post_type }} {{ hasFeaturedImage ? 'article--has-featured-img' }} {{ hasVideo ? 'article--has-video'}}" id="post-{{ post.ID }}">
								<h1 class="article__title article__title--{{ post.post_type }}">{{ post.title }}</h1>

								{% include "partial/article-meta.twig" %}

								{% if post.post_type != "team" and post.post_type != "board" %}
										{% if post.vertical.slug == "media-ethics" %}
												<aside class="{{post.vertical.slug}}-sidebar widget">
													{{ meiSidebar }}
												</aside>
										{% endif %}
								{% endif %}

								<div class="article__content article__content--{{ post.post_type }}">
									{% if hasVideo %}
										<div class="aspect-ratio-box">
											<div class="aspect-ratio-box-inside">
												<iframe class="article__video article__video--{{ post.post_type }}" src="{{ post.getVideoEmbedLink }}" frameborder="0" allowfullscreen="allowfullscreen">
													<span data-mce-type="bookmark" class="video mce_start">﻿</span>
												</iframe>
											</div>
										</div>
									{% elseif hasFeaturedImage and not hideFeaturedImage %}
										<figure class="article__featured-img article__featured-img--{{ post.post_type }}">
								<img class="featured-img__img flick"
										src="{{ post.thumbnail.src('featured-image') }}"
										srcset="{{ post.thumbnail.srcset }}"
										sizes="{{ post.thumbnail.img_sizes }}"
										alt="{{ post.thumbnail.alt }}"
										loading="eager" />												
										{% if post.thumbnail.caption %}
													<figcaption>{{ post.thumbnail.caption }}</figcaption>
												{% endif %}
										</figure>
									{% endif %}
									
									{% if post.post_type == "blogs" or post.post_type == "research" %}
										<div class="article__meta article-meta__dateline">
											<time class="article-meta__item">{% include 'assets/img/clock-regular.svg' %} {{ post.date }}</time>
										</div>
									{% endif %}

									{% if post.vertical.slug == "media-ethics" %}
									{% if post.meta('case_study_title') is not empty %}
									<h3>
										<strong>CASE STUDY: {{post.meta('case_study_title')|raw|striptags('<em>')}} </strong>
									</h3>
									
									<h4>
										<strong><a href="{{ post.getReport }}" filename="{{ post.vertical.slug}} {{post.title}}"></use>Case Study PDF</a> | </strong>
										<strong><a href="{{ post.vertical.link }}">Additional Case Studies</a></strong>
									</h4>
									<hr>
									{% endif %}
									{% endif %}
										{{ post.content }}
								</div>
						</article>
					</div>
				{% if post.post_type != "team" and post.post_type != "board" %}
					<aside class="sidebar-primary container">
						{{ primary }}
					</aside>
				{% endif %}
			</div>
{% endblock %}
