<div class="footer__container container">
	<div class="footer__top">
		{{ topFooterWidgets }}
	</div>
	<div class="footer__footer grid grid--col-12 grid--gap-20">
		<div class="widget__wrapper widget--left">
			{{ leftFooterWidgets }}
		</div>
		<div class="widget__wrapper widget--center">
			{# {% include 'menu.twig' with { menu: footerMenu } %} #}
			{% include 'partial/social.twig' %}
			{{ centerFooterWidgets }}
			<p class="footer__copy hint text-center">© Copyright
				{{"now"|date('Y')}}
				Center for Media Engagement. All Rights Reserved.</p>
		</div>
		<div class="widget__wrapper widget--right">
			{{ rightFooterWidgets }}
		</div>
	</div>
	<small>test #5</small>
</div>
