{% extends "base.twig" %}

{% block content %}

  <script>
    jQuery(document).ready(function($) {

      let maxChars = 42;

      // Loop through each of the titles
      $('.home-intro .tile__title').each(function(index) {
        let title = $(this).html(); // Grab the title text

        // If the title is too large
        if (title.length > maxChars) {
          // Find the end of the next word after 40 characters
          let spaceSearch = title.substring(maxChars, title.length);
          let spaceIndex = spaceSearch.indexOf(' ');
          // Make sure we're not currently on the last word And that the word isn't too big
          if (spaceIndex != -1 && spaceIndex < 10) {
            title = title.substring(0, spaceIndex + maxChars);
          } else {
            title = title.substring(0, maxChars);
          }
          title += "...";
          $(this).html(title);
        }
      });

    });
  </script>

  <section class="home-intro">
    {% include 'partial/orbit.twig' %}
    <div class="container container--xl wrapper--pad research-container">
      <h3 class="home-section__title">Latest Research</h3>
      {% include 'tiles.twig' with {
        posts : home.recent
      } %}
    </div>
  </section>
  <section class="home-research home-section">
    <div class="home-section__slanty-bar"></div>
    <div class="container container--xl wrapper--pad research-container">
      <h3 class="home-section__title">More Research</h3>
      {% include 'tiles.twig' with {
        posts : home.moreRecent
      } %}
      <div class="see-all-posts see-all-posts--research">
        <a class="btn btn--ghost btn--see-all" href="{{ function('get_post_type_archive_link', 'research') }}">All Research</a>
      </div>
    </div>
  </section>

  <section class="home-quiz-tool home-section">
    <div class="home-section__slanty-bar"></div>
    <div class="container container--xl wrapper--pad">
      <h3 class="home-section__title">Tools</h3>
      <section class="tiles">
        <div class="home-section__tools--wrapper">
          <div class="home-section__quiz--info">
            <h3>Quiz Creator</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni itaque dolorum provident facere, ad repudiandae deserunt obcaecati quia, dolores nulla magnam. Sint fugiat porro aperiam iure ea ipsum corporis maiores.</p>
            <div class="home-section__stats--wrapper tile-stats">
              <div class="stats1 tile">
                <h4>Proven</h4>
                <i class="fas fa-chart-line"></i>
                <p>15k Quizzes</p>
              </div>
              <div class="stats2 tile">
                <h4>Trusted</h4>
                <i class="fas fa-newspaper"></i>
                <p>912 News Orgs</p>
              </div>
              <div class="stats3 tile">
                <h4>Accessible</h4>
                <i class="fas fa-handshake"></i>
                <p>100% free</p>
              </div>
            </div>
          </div>
          <!-- home-section__quiz--wrapper -->
          <div class="home-section__quiz--embed">
            <div class="quiz-example">
              <script src="{{ site.url }}/wp-content/plugins/enp-quiz/public/quiz-take/js/dist/iframe-parent.min.js" type="text/javascript"></script>
              <iframe id="enp-quiz-iframe-25" class="enp-quiz-iframe" width="100%" height="460px" src="{{ site.url }}/quiz-embed/25"></iframe>
            </div>
          </div>
        </div>

        <div class="see-all-posts see-all-posts--quiz">
          <a class="btn btn--ghost btn--see-all" href="{{ site.url }}/quiz-creator/">Make Your Own Quiz</a>
        </div>

        <div class="home-section__tools--wrapper">
          <div class="home-section__quiz--embed">
            <h3>Engaging Buttons</h3>
            <span class="helper"></span>
            <img src="{{ site.url }}/wp-content/uploads/2016/01/Engaging-Buttons-Plugin.jpg" alt="">
          </div>
          <div class="home-section__quiz--info">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni itaque dolorum provident facere, ad repudiandae deserunt obcaecati quia, dolores nulla magnam. Sint fugiat porro aperiam iure ea ipsum corporis maiores.</p>
            <div class="home-section__stats--wrapper tile-stats">
              <div class="stats1 tile">
                <h4>Proven</h4>
                <i class="fas fa-chart-line"></i>
                <p>15k Quizzes</p>
              </div>
              <div class="stats2 tile">
                <h4>Trusted</h4>
                <i class="fas fa-newspaper"></i>
                <p>912 News Orgs</p>
              </div>
              <div class="stats3 tile">
                <h4>Accessible</h4>
                <i class="fas fa-handshake"></i>
                <p>100% free</p>
              </div>
            </div>
          </div>
          <!-- home-section__quiz--wrapper -->
        </div>
      </section>

      <div class="see-all-posts see-all-posts--buttons">
        <a class="btn btn--ghost btn--see-all" href="{{ site.url }}/research/engagement-buttons/">See the case study</a>
      </div>
    </div>
  </section>
{% endblock %}