{# 
Template Info
ACF group name: Homepage Detail
#}
{% extends "base.twig" %}

{% block content %}

	<section class="container container--xl wrapper--pad research-container">
		{% include 'partial/hero.twig' %}
	</section>

	<section class="home-research home-section">
		<div class="container container--xl wrapper--pad research-container">
			<h3 class="home-section__title">More Research</h3>
			{% include 'tiles.twig' with {
        posts : home.moreRecent
      } %}
		</div>
	</section>

	<section class="home-quiz-tool home-section dots-left" style="margin-top:-50px;">
		<div class="container container--xl wrapper--pad quiz-container">
			<div class="tiles">
				{# get section group name #}
				{% set quizInfo = home.meta('quiz_info') %}
				{% set quizImages = home.meta('quiz_images') %}
				<div class="home-section__tools--wrapper">
					<div
						class="home-section__quiz--info title title-quiz">
						{# quiz title #}
						<h2>{{ quizInfo.title }}</h2>
					</div>
					<div
						class="home-section__quiz--info description description-quiz">
						{# quiz description #}
						<p>{{ quizInfo.description }}</p>
						<div class="see-all-posts see-all-posts--quiz text-left">
							<a class="btn btn--ghost btn--see-all" href="{{ quizInfo.button_link }}">{{ quizInfo.button_title }}</a>
						</div>
					</div>
					<div class="home-section__quiz--info pictures pictures-quiz">
						<div class="home-section__stats--wrapper tile-stats">
							<div
								class="stats1">
								{# image one #}
								<img src="{{ Image(quizImages.image).src }}" alt="{{ Image(quizImages.image).alt }}"/>
							</div>
							<div
								class="stats2">
								{# image two #}
								<img src="{{ Image(quizImages.image_two).src }}" alt="{{ Image(quizImages.image_two).alt }}"/>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	{% for item in home.meta('tool_section') %}
		{# Set Group: info blocks #}
		{% set infoBlock = item.info %}
		{# Set Group: image blocks #}
		{% set imgBlock = item.images %}
		<section class="home-quiz-tool home-section grey-bkg">
			<div class="container container--xl wrapper--pad">
				<div class="tiles">
					<div class="home-section__tools--wrapper">
						<div class="home-section__button--info pictures {% if imgBlock.image_two != empty %}pictures--two-button {% else %} pictures-button {% endif %}">
							{% if imgBlock.image_one != empty %}
								<div class="quiz-example img-shadow">
									<img src="{{ Image(imgBlock.image_one).src }}" alt="{{ Image(imgBlock.image_one).alt }}"/>
								</div>
							{% endif %}
							{% if imgBlock.image_two != empty %}
								<div class="quiz-example img-shadow">
									<img src="{{ Image(imgBlock.image_two).src }}" alt="{{ Image(imgBlock.image_two).alt }}"/>
								</div>
							{% endif %}
						</div>
						<div class="home-section__button--info title title-button">
							<h3>{{ infoBlock.title }}</h3>
						</div>
						<div class="home-section__button--info description description-button">
							<p>{{ infoBlock.description }}</p>
							<div class="see-all-posts see-all-posts--buttons text-left">
								<a class="btn btn--ghost btn--see-all" href="{{ infoBlock.button_link }}">{{ infoBlock.button_title }}</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
		{# END tool_section #}
	</section>
	{# <section class="newsletter__wrapper dots-right">
		<div class="newsletter-page widget">
			{{ newsletter }}
		</div>
	</section> #}
{% endblock %}
