{% extends "base.twig" %}

{% block content %}
	{% include 'partial/orbit.twig' %}
	<section class="home-research home-section">
		<div class="home-section__slanty-bar"></div>
		<div class="container container--xl wrapper--pad">
			<h3 class="home-section__title">Latest Research</h3>
			{% include 'tiles.twig' with {posts: home.research} %}
			<div class="see-all-posts see-all-posts--research">
				<a class="btn btn--ghost btn--see-all" href="{{ function('get_post_type_archive_link', 'research') }}">All Research</a>
			</div>
		</div>
	</section>
	<section class="home-case-studies home-section">
		<div class="home-section__slanty-bar"></div>
		<div class="container container--xl wrapper--pad">
			<h3 class="home-section__title">Latest Case Studies</h3>
			{% include 'tiles.twig' with {posts: home.caseStudies} %}
			<div class="see-all-posts see-all-posts--case-studies">
				<a class="btn btn--ghost btn--see-all" href="{{ function('get_post_type_archive_link', 'case-study') }}">All Case Studies</a>
			</div>
		</div>
	</section>
	<section class="home-announcements home-section">
		<div class="home-section__slanty-bar"></div>
		<div class="container container--xl wrapper--pad">
			<h3 class="home-section__title">Announcements</h3>
			{% include 'tiles.twig' with {posts: home.announcements} %}
			<div class="see-all-posts see-all-posts--announcements">
				<a class="btn btn--ghost btn--see-all" href="{{ function('get_post_type_archive_link', 'announcement') }}">All Announcements</a>
			</div>
		</div>
	</section>
	<section class="home-events home-section">
		<div class="home-section__slanty-bar"></div>
		<div class="container container--xl wrapper--pad">
			<h3 class="home-section__title">Upcoming Events</h3>
			{% include 'tiles.twig' with {posts: home.events} %}
			<div class="see-all-posts see-all-posts--events">
				<a class="btn btn--ghost btn--see-all" href="{{ site.url }}/events/upcoming/">All Upcoming Events</a>
			</div>
		</div>
	</section>

	<section class="home-quiz-tool home-section">
		<div class="home-section__slanty-bar"></div>
		<div class="container container--xl wrapper--pad">
			<h3 class="home-section__title">Tools</h3>
			<section class="tiles">
				<div class="home-section__tools--wrapper">
					<div class="home-section__quiz--info">
						<h2>Quiz Creator</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni itaque dolorum provident facere, ad repudiandae deserunt obcaecati quia, dolores nulla magnam. Sint fugiat porro aperiam iure ea ipsum corporis maiores.</p>
						<div class="home-section__stats--wrapper">
							<div class="stats1 tile">
								<h4>Proven</h4>
								<i class="fas fa-chart-line"></i>
								<p>15k Quizzes</p>
							</div>
							<div class="stats2 tile">
								<h4>Trusted</h4>
								<i class="fas fa-newspaper"></i>
								<p>912 News Orgs</p>
							</div>
							<div class="stats3 tile">
								<h4>Accessible</h4>
								<i class="fas fa-handshake"></i>
								<p>100% free</p>
							</div>
						</div>
					</div><!-- home-section__quiz--wrapper -->
					<div class="home-section__quiz--embed">
						<div class="quiz-example"><script src="https://mediaengagement.test/wp-content/plugins/enp-quiz/public/quiz-take/js/dist/iframe-parent.min.js" type="text/javascript"></script>
							<iframe id="enp-quiz-iframe-25" class="enp-quiz-iframe" width="100%" height="460px" src="https://mediaengagement.test/quiz-embed/25"></iframe>
						</div>
					</div>
				</div>

				<div class="see-all-posts see-all-posts--quiz">
					<a class="btn btn--ghost btn--see-all" href="{{ site.url }}/quiz-creator/">Make Your Own Quiz</a>
				</div>

				<div class="home-section__tools--wrapper">
					<div class="home-section__quiz--embed">
						<h2>Engaging Buttons</h2>
						<span class="helper"></span>
						<img src="https://mediaengagement.test/wp-content/uploads/2016/01/Engaging-Buttons-Plugin.jpg" alt="">
					</div>
					<div class="home-section__quiz--info">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni itaque dolorum provident facere, ad repudiandae deserunt obcaecati quia, dolores nulla magnam. Sint fugiat porro aperiam iure ea ipsum corporis maiores.</p>
						<div class="home-section__stats--wrapper">
							<div class="stats1 tile">
								<h4>Proven</h4>
								<i class="fas fa-chart-line"></i>
								<p>15k Quizzes</p>
							</div>
							<div class="stats2 tile">
								<h4>Trusted</h4>
								<i class="fas fa-newspaper"></i>
								<p>912 News Orgs</p>
							</div>
							<div class="stats3 tile">
								<h4>Accessible</h4>
								<i class="fas fa-handshake"></i>
								<p>100% free</p>
							</div>
						</div>
					</div><!-- home-section__quiz--wrapper -->

				</div>

			</section>

			<div class="see-all-posts see-all-posts--buttons">
				<a class="btn btn--ghost btn--see-all" href="{{ site.url }}/quiz-creator/">See the case study</a>
			</div>

		</div>
	</section>







	<div class="home-funders home-section">
		<div class="home-section__slanty-bar"></div>
		<div class="container container--xl wrapper--pad">
			<h3 class="home-section__title">Funders &amp; Partners</h3>
			{% include 'partial/funders.twig' with { funders: home.funders } %}
		</div>
{% endblock %}
