{% if menu %}
	<nav {{ id ? "id='#{id}'" }} class="menu menu__{{ menu.slug }} {{ collapsable ? "collapsable" }}" role="navigation">
		<ul class="menu__list">
		{% for item in menu.items %}
			<li class="menu__item {{ item.classes | join(' ') }}">
				<a class="menu__link" target="{{ item.target }}" href="{{ item.link }}">{{ item.title }}</a>
				{% if item.children %}
					<ul class="menu__sublist {{ collapsable ? "collapsable" }}">
						{% for child in item.children %}
						<li class="menu__item menu__sublist-item {{ child.classes | join(' ') }}">
							<a class="menu__link menu__sublist-link" target="{{ child.target }}" href="{{ child.link }}">{{ child.title }}</a>
						</li>
						{% endfor %}
					</ul>
				{% endif %}
			</li>
		{% endfor %}
		</ul>
	</nav>
{% endif %}
