{% if menu %}
	<nav {{ id ? "id='#{id}'" }} class="menu menu__{{ menu.slug }} {{ collapsable ? "collapsable" }}" role="navigation">
		<ul class="menu__list">
		{% for item in menu.items %}
			<li class="menu__item {{ item.classes | join(' ') }}">
				<a class="menu__link" target="{{ item.target }}" href="{{ item.link }}">{{ item.title }}</a>
				{% include "menu.twig" with {'menu': item.get_children} %}
			</li>
		{% endfor %}
		</ul>
	</nav>
{% endif %}
