{% extends "base.twig" %}

{% block content %}
	<article class="container container--md post-type--{{post.post_type}}" id="post--{{post.ID}} page-tools">
		<header class="article__header">
			<h1 class="article__title">Tools</h1>
		</header>
		<div class="article__content">
			<section>
				<div class="row">
					<div>
						<div class="section-header">
							<h2>Engaging Buttons Plugin</h2>
							<h4>Allow users to express a broader range of empathy with the Engaging Buttons plugin.</h4>
						</div>
						<p>It’s easy to click “Like” on a heartwarming story about a local hero. But what about a fair, but counter-attitudinal, post in a comment section? That may make it a little more challenging to “Like.”</p>
						<p>Through our research on <a href="{{site.url}}/research/social-media-buttons/">engagement buttons</a>, we found that <strong>people were more likely to click “Respect” over “Like”</strong> in comment sections, and significantly more likely to click “Respect” when the view expressed differed from their own.</p>
						<p><a class="btn btn-primary" href="https://wordpress.org/plugins/engaging-buttons/">Download Plugin</a> <a class="btn btn-default" href="https://github.com/engagingnewsproject/engaging-button/">View Source</a></p>
					</div>
						<figure><img class="aligncenter size-full wp-image-1340" src="/wp-content/uploads/2016/01/Engaging-Buttons-Plugin.jpg" alt="Engaging Buttons Plugin Example" width="460" height=""></figure>
				</div>
			</section>
			<section>
				<div class="row">
					<div>
						<div class="section-header">
							<h2>Quiz Creator</h2>
							<h4>Create a quiz to engage your users. Easily embed the quiz on any website.</h4>
						</div>
						<p>Our <a href="{{site.url}}/research/online-polls-and-quizzes/">research on quizzes</a> shows that quizzes help your users:</p>
						<ul>
							<li><strong>Increase time on site</strong></li>
							<li><strong>Learn more</strong></li>
							<li><strong>Enjoy your site more</strong></li>
						</ul>
						<p>Using our quiz tool, you can <strong>easily create quizzes that you can embed on your website</strong>.</p>
						<p><a class="btn btn-primary" href="/quiz-creator/">Learn More</a></p>
					</div>
					<div>
						<p><strong>Embed this quiz on your site.</strong> Copy and paste the below HTML into your blog or site.<br>
						<script type="text/javascript" src="{{site.url}}/wp-content/plugins/enp-quiz/public/quiz-take/js/dist/iframe-parent.min.js"></script><br>
						<iframe id="enp-quiz-iframe-25" class="enp-quiz-iframe" src="{{site.url}}/quiz-embed/25" style="width: 100%; height: 468px;"></iframe><br>
						<textarea class="pre" style="width: 100%; min-height: 110px;">&lt;script type=”text/javascript” src=”https:{{site.url}}/wp-content/plugins/enp-quiz/public/quiz-take/js/dist/iframe-parent.min.js”&gt;&lt;/script&gt;&lt;iframe id=”enp-quiz-iframe-25″ class=”enp-quiz-iframe” src=”http://mediaengagement.org/quiz-embed/25″ style=”width: 100%; height: 500px;”&gt;&lt;/iframe&gt;</textarea></p>
					</div>
				</div>
			</section>
			<p>Thanks to <a href="https://www.browserstack.com">BrowserStack</a> for providing us with browser and device testing on our open source tools.</p>
		</div>
		<div class="newsletter__wrapper">
	  	<div class="newsletter-page">
	      <h4 class="widget__title">Newsletter</h4>
				<div class="textwidget"><p class="newsletter-prompt">Stay up to date</p>
					<div role="form" class="wpcf7" id="wpcf7-f13407-o1" lang="en-US" dir="ltr">
						<div class="screen-reader-response"></div>
						<form action="/tools/#wpcf7-f13407-o1" method="post" class="wpcf7-form" novalidate="novalidate">
							<div style="display: none;">
							<input type="hidden" name="_wpcf7" value="13407">
							<input type="hidden" name="_wpcf7_version" value="5.1.3">
							<input type="hidden" name="_wpcf7_locale" value="en_US">
							<input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f13407-o1">
							<input type="hidden" name="_wpcf7_container_post" value="0">
							</div>
							<p><span class="wpcf7-form-control-wrap your-email"><input type="email" name="your-email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email newsletter-input" aria-required="true" aria-invalid="false" placeholder="email@example.com"></span></p>
							<p><input type="submit" value="Submit" class="wpcf7-form-control wpcf7-submit btn newsletter-submit"><span class="ajax-loader"></span></p>
							<div class="wpcf7-response-output wpcf7-display-none"></div>
						</form>
					</div>
				</div>
	  	</div>
		</div>
	</article>

{% endblock %}
