{% extends "base.twig" %}

{% block content %}
	<article class="post-type--{{post.post_type}}" id="post--{{post.ID}}">
		<header class="article__header">
			{{post.content}}
		</header>
		<div class="container container--xl">
			<div
				class="article__content wrapper--pad">
				{# title #}
				<h1 class="article__title text-center">{{post.title}}</h1>
				{# intro #}
				<div class="article__intro grid grid--col-12 grid--gap-20 container container--lg">
					<div class="grid full">
						{{ post.meta('intro')}}
						<div class="grid site-logos">
							<img src="{{ Image(post.meta('cme_logo')).src }}"/>
							<img src="{{ Image(post.meta('stop_logo')).src }}"/>
						</div>
					</div>
				</div>
				<div class="article__quotes grid grid--col-12 grid--gap-30 container container--lg">
					{% for item in post.meta('quote_grid') %}
						<div class="grid span-6">
							<figure class="quote">
								<blockquote>{{ item.quote }}</blockquote>
								{% if item.quote_author != empty and item.quote_cite != empty %}
									<figcaption>—{{ item.quote_author }},
										<cite>{{ item.quote_cite }}</cite>
									</figcaption>
								{% endif %}
							</figure>
						</div>
					{% endfor %}
				</div>
				<h2 class="article__title h1 text-center">
					{{ post.section_title }}
				</h2>
				<section class="grid grid--col-12 span-3 grid--gap-20 video-grid">
					{% set i = 0 %}
					{% for item in post.meta('vid_gal') %}
						<div class="grid grid--col-12 grid--gap-20 video-grid-tile">

							<div class="grid grid__item span-6">
								{# modal open #}
								<a data-modal="#modal-{{ i }}">
									<img src="{{ Image(item.vid_poster).src }}"/>
								</a>
							</div>
							<div class="grid grid__item grid__item-content span-6">
								{# modal open #}
								<a data-modal="#modal-{{ i }}">
									<span class="sr-text">
										{{ item.vid_title }}
									</span>
									<h3 class="tile__title">
										{{ item.vid_title }}
									</h3>
									<p class="tile__description">
										{{ item.vid_des }}
									</p>
								</a>
							</div>

							{# The Modal #}
							{# https://github.com/kylefox/jquery-modal #}
							<div id="modal-{{ i }}" class="modal">
								<div class="modal-content">
									{{ item.video }}
								</div>
							</div>
						</div>
						{% set i = i + 1 %}
					{% endfor %}
				</section>
				<div class="article__quotes container container--lg text-center">
					{{ post.meta('disclaimer') }}
				</div>
			</div>
		</div>
	</article>
{% endblock %}
