{% extends "base.twig" %}

{% block content %}
	<article class="container container--lg post-type--{{post.post_type}}" id="post--{{post.ID}} page-tools">

		<div class="article__content">
			<div class="quiz-creator-product-page" id="tool-landing-page">
				<section class="hero aqua">
					<div class="container container--xl wrapper--pad">
						<div class="quiz-creator-intro-copy">
								<h2>Quiz Creator</h2>
								<p>Create a quiz to engage your users. Easily embed the quiz on any website.</p>
								<p>Our research shows that quizzes help people learn more than presenting information without a quiz. Even more, they increase time on page and site visitors rate them as enjoyable. </p>
								<a href="/research/online-polls-and-quizzes/" class="quiz-creator-intro-research-link">Read the report →</a>

								<a class="btn btn-primary quiz-creator-intro-register-link" href="{{site.url}}/wp-login.php?action=register">Register</a> Or <a class="btn btn-primary" href="{{site.url}}/wp-login.php">Login</a>
						</div>
						<div class="text-center">
							<div class="quiz-example"><script src="{{site.url}}/wp-content/plugins/enp-quiz/public/quiz-take/js/dist/iframe-parent.min.js" type="text/javascript"></script>
								<iframe id="enp-quiz-iframe-25" class="enp-quiz-iframe" src="{{site.url}}/quiz-embed/25" height="400" width="500"></iframe></div>
						</div>
					</div>
				</section>
				<section class="hero aqua">
					<div class="container container--xl wrapper--pad">
						<div class="quiz-creator-intro-copy">
								<h2>Engaging Buttons Plugin</h2>
								<p>It’s easy to click “Like” on a heartwarming story about a local hero. But what about a fair, but counter-attitudinal, post in a comment section? That may make it a little more challenging to “Like.”</p>
								<br>
								<a class="btn btn-primary quiz-creator-intro-research-link" href="https://wordpress.org/plugins/engaging-buttons/">Download Plugin</a> <a class="btn btn-default" href="https://github.com/engagingnewsproject/engaging-button/">View Source</a></p>
						</div>
						<div class="text-center">
							<figure><img class="aligncenter size-full wp-image-1340 engaging-image"  src="/wp-content/uploads/2016/01/Engaging-Buttons-Plugin.jpg" alt="Engaging Buttons Plugin Example" width="460" height=""></figure>
							<p>Through our research on <a href="{{site.url}}/research/social-media-buttons/">engagement buttons</a>, we found that <strong>people were more likely to click “Respect” over “Like”</strong> in comment sections, and significantly more likely to click “Respect” when the view expressed differed from their own.</p>
						</div>
					</div>
				</section>
				<section class="quiz-creator-benefits">
					<div class="container container--lg wrapper--pad">
						<section class="callout quiz-creator-research">
							<div class="container container--xl wrapper--pad">
								<!-- related research widget -->
								<h3 class="text-center">Everything you expect in our tools and much more.</h3>
								<br>
								<div class="tile-stats">
									<div class="tile">
										<h4>Easy to use</h4>
										<i class="fas fa-universal-access"></i>
										<p>Step-by-step process makes it easy for anyone to utilize our tools! Create a quiz or implement buttons in as little as 3 minutes.</p>
									</div>
									<div class="tile">
										<h4>Customizable</h4>
										<i class="fas fa-palette"></i>
										<p>Customize colors to match your branding and seamlessly add it to your site.</p>
									</div>
									<div class="tile">
										<h4>Embeddable</h4>
										<i class="fas fa-code"></i>
										<p>Easily add the quiz or buttons to any page on your website with our simple embed code.</p>
									</div>
									<div class="tile">
										<h4>Gain insight</h4>
										<i class="fas fa-chart-pie"></i>
										<p>Test your audience’s knowledge and response rate. Easily gain back-end access to the data from our tools.</p>
									</div>
								</div>
							</div>
						</section>
					</div>
				</section>
			</div>
		</div>
	</article>
	<div class="text-center">
		<p>Thanks to <a href="https://www.browserstack.com">BrowserStack</a> for providing us with browser and device testing on our open source tools.</p>
	</div>

{% endblock %}
