{% extends "base.twig" %}

{% block content %}

{{ dump(post) }}

<h2>{{ post.title }}</h2>
<div class="my-list">
	{% for item in post.meta('posts') %}
		<div class="item">
			<h4>{{ item.post_object }}</h4>
			<h6>{{ item.info }}</h6>
			<img src="{{ Image(item.picture).src }}"/>
		</div>
	{% endfor %}
</div>

  <div class="post__wrapper wrapper--pad">
    <div class="article__wrapper container container--lg">
      <img src="{{ post.header_image.src }}" sizes="{{ post.header_image.img_sizes }}"
          alt="{{ post.header_image.alt }}" />
      <p>{{post.meta('content_1')}}</p>
      <h1 class="section-margin">{{post.meta('title_1')}}</h1>
      {# {% include 'tiles.twig' with {
          posts : [post.meta('post_1'), post.meta('post_2'), post.meta('post_3'), post.meta('post_4')]
      }%} #}
      {% for item in post.meta('post_section') %}
          {{post.meta('post')}}
      {% endfor %}
      <h1 class="section-margin">{{post.meta('title_2')}}</h1>
      <p>{{post.meta('content_2')}}</p>
      <iframe class="featured-video" src={{post.meta('featured_video')}} frameborder="0" allowfullscreen></iframe>
      <div class="small-video-container">
        <iframe class="small-video" src={{post.meta('video_1')}} frameborder="0" allowfullscreen></iframe>
        <iframe class="small-video" src={{post.meta('video_2')}} frameborder="0" allowfullscreen></iframe>
        <iframe class="small-video" src={{post.meta('video_3')}} frameborder="0" allowfullscreen></iframe>
      </div>
      <h1>{{post.meta('title_3')}}</h1>
      {% include 'tiles.twig' with {
          posts : research
      }%}
      <a class="research-link" href={{post.meta('research_link')}}>{{post.meta('title_4')}}</a>
    </div>
  </div>
{% endblock %}