{% extends "base.twig" %}

{% block content %}
	<div class="post__wrapper">
		<div class="article__wrapper">
			<article class="article__full-width post-type--{{post.post_type}}" id="post--{{post.ID}}">

				<header class="article__header">
					{{post.content}}
				</header>
				<div class="article__content wrapper--pad">
					<section>
						<div class="article__intro grid grid--col-12 grid--gap-20 container container--lg">
							<div class="grid tile-col__whole">
								{{ post.meta('intro')}}
							</div>
							<a href="{{ post.download_report_button_url }}" class="btn btn--annual-report">
								<i class="fa fa-cloud-download fa-lg"></i>
								<span>{{ post.download_report_button }}</span>
							</a>
						</div>
						<div class="article__intro container container--lg text-center">
							<a href="{{ file.src }}" target="_blank" class="img">
								<img src="{{ post.gif1.src }}" sizes="{{ post.gif1.img_sizes }}" alt="{{ post.gif1.alt }}"/>
							</a>
						</div>
						<div class="article__intro grid grid--col-12 grid--gap-20 container container--lg">
							<div class="grid tile-col__whole">
								{{ post.meta('paragraph1')}}
							</div>
						</div>
						<div class="article__video">
							<iframe src='https://cdn.knightlab.com/libs/timeline3/latest/embed/index.html?source=1OoHXYoQU9j8Yt74EaPs97KVFvtTxjBqHZ1A_Tbr_V2k&font=Default&lang=en&initial_zoom=0&height=650' width='85%' height='650' webkitallowfullscreen mozallowfullscreen allowfullscreen frameborder='0'></iframe>
						</div>
						<div class="article__intro container container--lg text-center">
							<a href="{{ file.src }}" target="_blank" class="img">
								<img src="{{ post.gif2.src }}" sizes="{{ post.gif2.img_sizes }}" alt="{{ post.gif2.alt }}"/>
							</a>
						</div>
						<div class="article__intro grid grid--col-12 grid--gap-20 container container--lg">
							<div class="grid tile-col__whole">
								{{ post.meta('paragraph2')}}
							</div>
						</div>
							<iframe class="video-2" src={{post.meta('video-2')}} frameborder="0" allowfullscreen></iframe>
						<div class="article__intro container container--lg text-center">
							<a href="{{ file.src }}" target="_blank" class="img">
								<img src="{{ post.gif3.src }}" sizes="{{ post.gif3.img_sizes }}" alt="{{ post.gif3.alt }}"/>
							</a>
						</div>
						<div class="article__intro grid grid--col-12 grid--gap-20 container container--lg">
							<div class="grid tile-col__whole">
								{{ post.meta('paragraph3')}}
							</div>
						</div>
						<iframe class="video-3" src={{post.meta('video-3')}} frameborder="0" allowfullscreen></iframe>
						<div class="article__intro container container--lg text-center">
							<a href="{{ file.src }}" target="_blank" class="img">
								<img src="{{ post.gif4.src }}" sizes="{{ post.gif4.img_sizes }}" alt="{{ post.gif4.alt }}"/>
							</a>
						</div>
						<div class="article__intro grid grid--col-12 grid--gap-20 container container--lg">
							<div class="grid tile-col__whole">
								{{ post.meta('paragraph4')}}
							</div>
						</div>
						<iframe class="video-4" src={{post.meta('video-4')}} frameborder="0" allowfullscreen></iframe>
						<div class="article__intro container container--lg text-center">
							<a href="{{ file.src }}" target="_blank" class="img">
								<img src="{{ post.gif5.src }}" sizes="{{ post.gif5.img_sizes }}" alt="{{ post.gif5.alt }}"/>
							</a>
						</div>
						<div class="article__intro grid grid--col-12 grid--gap-20 container container--lg">
							<div class="grid tile-col__whole">
								{{ post.meta('paragraph5')}}
							</div>
						</div>
						<iframe class="video-5" src={{post.meta('video-5')}} frameborder="0" allowfullscreen></iframe>
					</section>
				</div>
			</article>
		</div>
	</div>
{% endblock %}
