{% extends "base.twig" %}

{% block content %}
<div class="post__wrapper wrapper--pad">
    <div class="article__wrapper container container--lg">
		
	<article class="article container container--lg post-type--{{post.post_type}}" id="post--{{post.ID}}">
		<header class="article__header tile tile--vertical--journalism tile--intro">
			<h1 class="tile__title tile__title--intro">{{post.title}}</h1>
		</header>
            
    <aside class="newsletter-about widget">
			<section class="sidebar-menu sidebar-menu__{{post.post_type}}">
				<h4 class="sidebar-menu__title">Tools Menu</h4>
				<ul class="filters filters-- menu">
					{% for item in post.meta('repeater') %}
						<li class="filter__item filter__item--sub-item">
							<a class="filter__link sidebar-menu__link" href="#{{ item.title }}">{{ item.title|title|replace('-', ' ') }}</a>
						</li>
					{% endfor %}
				</ul>
      </section>
			{{ newsletter }}
		</aside>

		<div class="article__content">
			{% for item in post.meta('repeater') %}
				<section class="item" id="{{item.title}}">
					{% if item.title != "engaging-buttons-plugin" %}
						<hr>
					{% endif %}	
					<br>
					<h2>{{ item.title|title|replace('-', ' ') }}</h2>
					<img src="{{ Image(item.image).src }}" />
					<h4>{{ item.subtitle }}</h4>
					<p>{{ item.content }}</p>
					<p>
						{% if item.plugin_button_1 != "" %}
							<a class="btn btn-primary" href="{{ item.plugin_button_1_url }}">{{ item.plugin_button_1 }}</a>
						{% endif %}
						{% if item.plugin_button_2 != "" %}
							<a class="btn btn-default" href="{{ item.plugin_button_2_url }}">{{ item.plugin_button_2 }}</a>
						{% endif %} 
					</p>
					<br>
				</section>
			{% endfor %}
			{{post.content}}
		</div>
		
	</article>
	</div>
</div>
{% endblock %}

