{% extends "base.twig" %}

{% block content %}
<div class="post__wrapper wrapper--pad">
		<div class="article__wrapper container container--lg">
			<article class="article container container--lg post-type--{{post.post_type}}" id="post--{{post.ID}}">
				<header class="article__header">
					<h1 class="article__title">{{post.title}}</h1>
				</header>
				<aside class="newsletter-about widget">
						{{ newsletter }}
				</aside>
				<div class="article__content">
					{{post.content}}
				</div>
				{% if post.title == "About Us" %}
					<div class="home-funders home-section">
						<div class="container container--xl wrapper--pad">
							{% include 'partial/funders.twig' with { funders: funders } %}
						</div>
					</div>
				{% endif %}
			</article>
		</div>
</div>
{% endblock %}
