{% extends "base.twig" %}

{% block content %}
<article class="container container--lg post-type--{{post.post_type}} press--{{post.post_type}}" id="post--{{post.ID}} page-tools">
		<header class="article__header">
			<h1 class="article__title h1">{{post.title}}</h1>
		</header>
        <div class="article__content">
            <table> 
                <colgroup>
                    <col class="press-table-side-col">
                    <col class="press-table-mid-col">
                    <col class="press-table-side-col">
                </colgroup>
                {% for column in post.columns %}
                    <th class="press-table-top"></th>
                {% endfor %}
                {% for row in post.rows %}
                    <tr>
                        <td class="press-table-row"> {{row[0]}} </td>
                        <td class="press-table-row"> {{row[1]}} </td>
                        <td class="press-table-row"> {{row[2]}} </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</article>

{% endblock %}