{% extends "base.twig" %}

{% block content %}
    <div class="post__wrapper wrapper--pad">
        <div class="article__wrapper container container--lg">
            {% set hasVideo = post.getVideoEmbedLink and post.post_type != 'team' and post.post_type != 'board' %}
            {% set hasFeaturedImage = post.thumbnail.src and post.post_type != 'team' and post.post_type != 'board' %}
            {% set hideFeaturedImage = post.hide_feature_image %}
            <article class="article post-type-{{ post.post_type }} {{ hasFeaturedImage ? 'article--has-featured-img' }} {{ hasVideo ? 'article--has-video'}}" id="post-{{ post.ID }}">
                <p class="article__post-type article__post-type--{{ post.post_type }}">{{ post.type.labels.singular_name }}</p>
                <h1 class="article__title article__title--{{ post.post_type }}">{{ post.title }}</h1>

                {% include "partial/article-meta.twig" %}

                {% if post.post_type != "team" and post.post_type != "board" %}
                    <aside class="newsletter-post">
                        {{ newsletter }}
                    </aside>
                    {% if post.vertical.slug == "media-ethics" %}
                        <aside class="{{post.vertical.slug}}-sidebar">
                          {{ meiSidebar }}
                        </aside>
                    {% endif %}
                {% endif %}

                <div class="article__content article__content--{{ post.post_type }}">
                  {% if hasVideo %}
                    <div class="aspect-ratio-box">
                      <div class="aspect-ratio-box-inside">
                        <iframe class="article__video article__video--{{ post.post_type }}" src="{{ post.getVideoEmbedLink }}" frameborder="0" allowfullscreen="allowfullscreen">
                          <span data-mce-type="bookmark" class="video mce_start">﻿</span>
                        </iframe>
                      </div>
                    </div>
                  {% elseif hasFeaturedImage and not hideFeaturedImage %}
                    <figure class="article__featured-img article__featured-img--{{ post.post_type }}">
                        <img class="featured-img__img" src="{{ post.thumbnail.src('featured-image') }}" {{ post.thumbnail.alt ? "alt='#{ post.thumbnail.alt}'" }} />
                        {% if post.thumbnail.caption %}
                          <figcaption>{{ post.thumbnail.caption }}</figcaption>
                        {% endif %}
                    </figure>
                  {% endif %}
                    {{ post.content }}
                </div>

                {% if post.post_type != "team" and post.post_type != "board" %}
                    <aside class="sidebar-primary">
                        {{ primary }}
                    </aside>
                {% endif %}

            </article>
            <!-- comment box -->
            {# if post.comment_status != "closed" or post.comments %}
			<section class="comments container container--md">
			    {% if post.comments %}
				<h3 class="comments__title">Comments</h3>
				{% for cmt in post.comments %}
				    {% include "comment.twig" with {comment:cmt} %}
				{% endfor %}
			    {% endif %}

				{% if post.comment_status != "closed" %}
				    {% include "comment-form.twig" %}
				{% endif %}
			</section>
			{% endif #}
        </div>
    </div>
{% endblock %}
