{% extends "tease.twig" %}

{% block content %}
	{% if post.thumbnail %}
		<img class="tease__img" src="{{ post.thumbnail.src }}" alt="{{ post.thumbnail.alt }}"/>
	{% endif %}
	<div class="tease__text">
		<h3 class="tease__title"><a href="{{ post.link }}">{{ post.title }}</a></h3>
		<p class="tease__excerpt">{{ post.preview.length(40) }}</p>
	</div>
{% endblock %}
