<section class="ann__sct ann__sct_tiles wrapper--pad-xlg">
    <div class="ann__tile" style="background-color: {{ post.meta('box_left_color_05') }}">
        <div class="ann__img-wrap">
            <img src="{{ post.box_left_image_05.src }}" class="ann__tile_img"
                sizes="{{ post.box_left_image_05.img_sizes }}" alt="{{ post.box_left_image_05.alt }}" />
        </div>
        <span class="sr-text">
            <h2>{{ post.meta('box_left_title_05') }}</h2>
            <p>{{ post.meta('box_left_text_05') }}</p>
        </span>
        <div class="ann__info">
            <h2 class="ann__title">{{ post.meta('box_left_title_05') }}</h2>
            <p class="ann__excerpt">{{ post.meta('box_left_text_05') }}</p>
            <br>
        </div>
        <a href="{{ post.meta('box_left_link_05') }}" class="ann__hover_more">
            <p>Read more &#8250 &#8250</p>
        </a>
    </div>
    <div class="ann__hover_cover">
    </div>
    <div class="ann__tile" style="background-color: {{ post.meta('box_right_color_05') }}">
        <div class="ann__img-wrap">
            <img src="{{ post.box_right_image_05.src }}" class="ann__tile_img"
                sizes="{{ post.box_right_image_05.img_sizes }}" alt="{{ post.box_right_image_05.alt }}" />
        </div>
        <span class="sr-text">
            <h2>{{ post.meta('box_right_title_05') }}</h2>
            <p>{{ post.meta('box_right_text_05') }}</p>
        </span>
        <div class="ann__info">
            <h2 class="ann__title">{{ post.meta('box_right_title_05') }}</h2>
            <p class="ann__excerpt">{{ post.meta('box_right_text_05') }}</p>
            <br>
        </div>
        <a href="{{ post.meta('box_right_link_05') }}" class="ann__hover_more">
            <p>Read more &#8250 &#8250</p>
        </a>
    </div>
    <div class="ann__hover_cover">
    </div>
</section>
<section class="ann__sct ann__sct_tiles wrapper--pad-xlg">
    <div class="ann__tile" style="background-color: {{ post.meta('box_left_color_06') }}">
        <div class="ann__img-wrap">
            <img src="{{ post.box_left_image_06.src }}" class="ann__tile_img"
                sizes="{{ post.box_left_image_06.img_sizes }}" alt="{{ post.box_left_image_06.alt }}" />
        </div>
        <span class="sr-text">
            <h2>{{ post.meta('box_left_title_06') }}</h2>
            <p>{{ post.meta('box_left_text_06') }}</p>
        </span>
        <div class="ann__info">
            <h2 class="ann__title">{{ post.meta('box_left_title_06') }}</h2>
            <p class="ann__excerpt">{{ post.meta('box_left_text_06') }}</p>
            <br>
        </div>
        <a href="{{ post.meta('box_left_link_06') }}" class="ann__hover_more">
            <p>Read more &#8250 &#8250</p>
        </a>
    </div>
    <div class="ann__hover_cover">
    </div>
    <div class="ann__tile" style="background-color: {{ post.meta('box_right_color_06') }}">
        <div class="ann__img-wrap">
            <img src="{{ post.box_right_image_06.src }}" class="ann__tile_img"
                sizes="{{ post.box_right_image_06.img_sizes }}" alt="{{ post.box_right_image_06.alt }}" />
        </div>
        <span class="sr-text">
            <h2>{{ post.meta('box_right_title_06') }}</h2>
            <p>{{ post.meta('box_right_text_06') }}</p>
        </span>
        <div class="ann__info">
            <h2 class="ann__title">{{ post.meta('box_right_title_06') }}</h2>
            <p class="ann__excerpt">{{ post.meta('box_right_text_06') }}</p>
            <br>
        </div>
        <a href="{{ post.meta('box_right_link_06') }}" class="ann__hover_more">
            <p>Read more &#8250 &#8250</p>
        </a>
    </div>
    <div class="ann__hover_cover">
    </div>
</section>
