<section class="section-5 tiles grid grid--col-12 grid--gap-20">
    <div class="tile tile--has-img" style="background-color: {{ post.meta('box_left_color_05') }}">
        <div class="tile__img-wrap">
            <img 
            src="{{ post.box_left_image_05.src }}" 
            class="tile__img"
            sizes="{{ post.box_left_image_05.img_sizes }}"
            alt="{{ post.box_left_image_05.alt }}" />
        </div>
        <a class="tile__link" href="">
            <span class="sr-text">
                <h2>{{ post.meta('box_left_title_05') }}</h2> 
                <p>{{ post.meta('box_left_text_05') }}</p>
            </span>
        </a>
        <h3 class="tile__title h3">{{ post.meta('box_left_title_05') }}</h3>
        <div class="tile__excerpt">
            <p>{{ post.meta('box_left_text_05') }}</p>
            <br>
            <p>Read more &#8250 &#8250</p>
        </div>
    </div>
    <div class="tile tile--has-img" style="background-color: {{ post.meta('box_right_color_05') }}">
        <div class="tile__img-wrap">
            <img src="{{ post.box_right_image_05.src }}" class="tile__img" sizes="{{ post.box_right_image_05.img_sizes }}"
                alt="{{ post.box_right_image_05.alt }}" />
        </div>
        <a class="tile__link">
            <span class="sr-text">
                <h2>{{ post.meta('box_right_title_05') }}</h2>
                <p>{{ post.meta('box_right_text_05') }}</p>
            </span>
        </a>
        <h3 class="tile__title h3">{{ post.meta('box_right_title_05') }}</h3>
        <div class="tile__excerpt">
            <p>{{ post.meta('box_right_text_05') }}</p>
            <br>
            <p>Read more &#8250 &#8250</p>
        </div>
    </div>
</section>
<section class="section-6 tiles grid grid--col-12 grid--gap-20">
    <div class="tile tile--has-img" style="background-color: {{ post.meta('box_left_color_06') }}">
        <div class="tile__img-wrap">
            <img src="{{ post.box_left_image_06.src }}" class="tile__img" sizes="{{ post.box_left_image_06.img_sizes }}"
                alt="{{ post.box_left_image_06.alt }}" />
        </div>
        <a class="tile__link">
            <span class="sr-text">
                <h2>{{ post.meta('box_left_title_06') }}</h2>
                <p>{{ post.meta('box_left_text_06') }}</p>
            </span>
        </a>
        <h3 class="tile__title h3">{{ post.meta('box_left_title_06') }}</h3>
        <div class="tile__excerpt">
            <p>{{ post.meta('box_left_text_06') }}</p>
            <br>
            <p>Read more &#8250 &#8250</p>
        </div>
    </div>
    <div class="tile tile--has-img" style="background-color: {{ post.meta('box_right_color_06') }}">
        <div class="tile__img-wrap">
            <img src="{{ post.box_right_image_06.src }}" class="tile__img" sizes="{{ post.box_right_image_06.img_sizes }}"
                alt="{{ post.box_right_image_06.alt }}" />
        </div>
        <a class="tile__link">
            <span class="sr-text">
                <h2>{{ post.meta('box_right_title_06') }}</h2>
                <p>{{ post.meta('box_right_text_06') }}</p>
            </span>
        </a>
        <h3 class="tile__title h3">{{ post.meta('box_right_title_06') }}</h3>
        <div class="tile__excerpt">
            <p>{{ post.meta('box_right_text_06') }}</p>
            <br>
            <p>Read more &#8250 &#8250</p>
        </div>
    </div>
</section>

