<section class="ann__sct ann__sct_tiles wrapper--pad-xlg">
    <div class="ann__tile">
        <div class="ann__img-wrap">
            <img src="{{ post.box_left_image_05.src }}" class="ann__tile_img"
                sizes="{{ post.box_left_image_05.img_sizes }}" alt="{{ post.box_left_image_05.alt }}" />
        </div>
        <span class="sr-text">
            <h2>{{ post.meta('box_left_title_05') }}</h2>
            <p>{{ post.meta('box_left_text_05') }}</p>
        </span>
        <div class="ann__info" style="background-color: {{ post.meta('box_left_color_05') }}">
            <h2 class="ann__title ann__info_title">{{ post.meta('box_left_title_05') }}</h2>
            <p class="ann__excerpt">{{ post.meta('box_left_text_05') }}</p>
            <p>Read more &#8250 &#8250</p>
        </div>
        <div class="ann__hover_more">
            {% if post.meta('box_left_hover_text_05') %}
            <p class="ann__hover_text">
                {{ post.meta('box_left_hover_text_05') }}
            </p>
            {% endif %}
            <div class="ann__hover_links">
                {% if post.meta('box_left_hover_title_01_05') %}
                <a href="{{ post.meta('box_left_hover_link_01_05') }}" class="ann__hover_link">{{
                    post.meta('box_left_hover_title_01_05') }} &#8250 &#8250</a>
                {% endif %}
                {% if post.meta('box_left_hover_title_02_05') %}
                <a href="{{ post.meta('box_left_hover_link_02_05') }}" class="ann__hover_link">{{
                    post.meta('box_left_hover_title_02_05') }} &#8250 &#8250</a>
                {% endif %}
                {% if post.meta('box_left_hover_title_03_05') %}
                <a href="{{ post.meta('box_left_hover_link_03_05') }}" class="ann__hover_link">{{
                    post.meta('box_left_hover_title_03_05') }} &#8250 &#8250</a>
                {% endif %}
            </div>
        </div>
    </div>
    {# <div class="ann__hover_cover">
    </div> #}
    <div class="ann__tile">
        <div class="ann__img-wrap">
            <img src="{{ post.box_right_image_05.src }}" class="ann__tile_img"
                sizes="{{ post.box_right_image_05.img_sizes }}" alt="{{ post.box_right_image_05.alt }}" />
        </div>
        <span class="sr-text">
            <h2>{{ post.meta('box_right_title_05') }}</h2>
            <p>{{ post.meta('box_right_text_05') }}</p>
        </span>
        <div class="ann__info" style="background-color: {{ post.meta('box_right_color_05') }}">
            <h2 class="ann__title ann__info_title">{{ post.meta('box_right_title_05') }}</h2>
            <p class="ann__excerpt">{{ post.meta('box_right_text_05') }}</p>
            <p>Read more &#8250 &#8250</p>
        </div>
        <div class="ann__hover_more">
            {% if post.meta('box_right_hover_text_05') %}
            <p class="ann__hover_text">
                {{ post.meta('box_right_hover_text_05') }}
            </p>
            {% endif %}
            <div class="ann__hover_links">
                {% if post.meta('box_right_hover_title_01_05') %}
                <a href="{{ post.meta('box_right_hover_link_01_05') }}" class="ann__hover_link">{{
                    post.meta('box_right_hover_title_01_05') }} &#8250 &#8250</a>
                {% endif %}
                {% if post.meta('box_right_hover_title_02_05') %}
                <a href="{{ post.meta('box_right_hover_link_02_05') }}" class="ann__hover_link">{{
                    post.meta('box_right_hover_title_02_05') }} &#8250 &#8250</a>
                {% endif %}
                {% if post.meta('box_right_hover_title_03_05') %}
                <a href="{{ post.meta('box_right_hover_link_03_05') }}" class="ann__hover_link">{{
                    post.meta('box_right_hover_title_03_05') }} &#8250 &#8250</a>
                {% endif %}
            </div>
        </div>
    </div>
    {# <div class="ann__hover_cover">
    </div> #}

    <div class="ann__tile">
        <div class="ann__img-wrap">
            <img src="{{ post.box_left_image_06.src }}" class="ann__tile_img"
                sizes="{{ post.box_left_image_06.img_sizes }}" alt="{{ post.box_left_image_06.alt }}" />
        </div>
        <span class="sr-text">
            <h2>{{ post.meta('box_left_title_06') }}</h2>
            <p>{{ post.meta('box_left_text_06') }}</p>
        </span>
        <div class="ann__info" style="background-color: {{ post.meta('box_left_color_06') }}">
            <h2 class="ann__title ann__info_title">{{ post.meta('box_left_title_06') }}</h2>
            <p class="ann__excerpt">{{ post.meta('box_left_text_06') }}</p>
            <p>Read more &#8250 &#8250</p>
        </div>
        <div class="ann__hover_more">
            {% if post.meta('box_left_hover_text_06') %}
            <p class="ann__hover_text">
                {{ post.meta('box_left_hover_text_06') }}
            </p>
            {% endif %}
            <div class="ann__hover_links">
                {% if post.meta('box_left_hover_title_01_06') %}
                <a href="{{ post.meta('box_left_hover_link_01_06') }}" class="ann__hover_link">{{
                    post.meta('box_left_hover_title_01_06') }} &#8250 &#8250</a>
                {% endif %}
                {% if post.meta('box_left_hover_title_02_06') %}
                <a href="{{ post.meta('box_left_hover_link_02_06') }}" class="ann__hover_link">{{
                    post.meta('box_left_hover_title_02_06') }} &#8250 &#8250</a>
                {% endif %}
                {% if post.meta('box_left_hover_title_03_06') %}
                <a href="{{ post.meta('box_left_hover_link_03_06') }}" class="ann__hover_link">{{
                    post.meta('box_left_hover_title_03_06') }} &#8250 &#8250</a>
                {% endif %}
            </div>
        </div>
    </div>
    {# <div class="ann__hover_cover">
    </div> #}
    <div class="ann__tile">
        <div class="ann__img-wrap">
            <img src="{{ post.box_right_image_06.src }}" class="ann__tile_img"
                sizes="{{ post.box_right_image_06.img_sizes }}" alt="{{ post.box_right_image_06.alt }}" />
        </div>
        <span class="sr-text">
            <h2>{{ post.meta('box_right_title_06') }}</h2>
            <p>{{ post.meta('box_right_text_06') }}</p>
        </span>
        <div class="ann__info" style="background-color: {{ post.meta('box_right_color_06') }}">
            <h2 class="ann__title ann__info_title">{{ post.meta('box_right_title_06') }}</h2>
            <p class="ann__excerpt">{{ post.meta('box_right_text_06') }}</p>
            <p>Read more &#8250 &#8250</p>
        </div>
        <div class="ann__hover_more">
            {% if post.meta('box_right_hover_text_06') %}
            <p class="ann__hover_text">
                {{ post.meta('box_right_hover_text_06') }}
            </p>
            {% endif %}
            {% if post.meta('box_right_hover_title_01_06') %}
            <div class="ann__hover_links">
                <a href="{{ post.meta('box_right_hover_link_01_06') }}" class="ann__hover_link">{{
                    post.meta('box_right_hover_title_01_06') }} &#8250 &#8250</a>
                {% endif %}
                {% if post.meta('box_right_hover_title_02_06') %}
                <a href="{{ post.meta('box_right_hover_link_02_06') }}" class="ann__hover_link">{{
                    post.meta('box_right_hover_title_02_06') }} &#8250 &#8250</a>
                {% endif %}
                {% if post.meta('box_right_hover_title_03_06') %}
                <a href="{{ post.meta('box_right_hover_link_03_06') }}" class="ann__hover_link">{{
                    post.meta('box_right_hover_title_03_06') }} &#8250 &#8250</a>
                {% endif %}
            </div>
        </div>
    </div>
</section>
