
<div class="tile--research-cat--{{ tile.terms('research-categories')[0].slug  }} tile--vertical--{{ tile.terms('verticals')[0].slug }} hero--container">
  {% if tile.thumbnail %} 
   <div class="hero__1" style="background:url('{{ post.thumbnail.src('featured-post') }}'); background-size: cover; background-repeat:none;">

  </div>
  {% endif %}

 <div class="hero__2">
  <a href="{{ tile.link }}">
  <div class="tile__label">
    {{ tile.terms('verticals') | join(', ') }}
      <div class="tile__bar"></div>
    </div>
  <h1 class="link">{{ tile.title }}</h1></a>

  {% if tile.post_type == 'tribe_events' %}
    <div class="tile__date">{% include 'partial/tile-event-date.twig' %}</div>
  {% elseif tile.date %}
    <p class="tile__date">{{ tile.date }}</p>
  {% endif %}

  <div class="tile__excerpt">{{ tile.preview.length(30).read_more('') }}</div>

  <div class="see-all-posts text-left">
        <a class="btn btn--ghost btn--see-all" href="{{ tile.link }}">Read More</a>
  </div>

  </div>
</div>








