<div class="mate {{ mate.thumbnail ? ' mate--has-img'}} grid grid--col-12 grid--gap-20">
	{% if mate.thumbnail %}
	<div class="mate__img-wrap">
		<img class="mate__img" src="{{ mate.thumbnail.src('thumbnail') }}" alt="{{ mate.thumbnail.alt }}"/>
	</div>
	{% endif %}
	<div class="mate__content">
		<h3 class="mate__title h3">{{ mate.title }}</h3>
		<div class="mate__labels">
	    	{{ mate.terms('verticals') | join(', ') }} {{ mate.terms('team_category') | join(', ') }}
	    </div>
		
		<div class="mate__excerpt">{{ mate.content }}</div>
	</div>
	
</div>