<div id="{{ mate.slug }}" class="mate {{ mate.thumbnail ? ' mate--has-img'}} grid grid--col-12 grid--gap-20">
    {% if mate.thumbnail %}
        <div class="mate__img-wrap">
            <img class="mate__img" src="{{ mate.thumbnail.src('thumbnail') }}" alt="{{ mate.thumbnail.alt }}"/>
        </div>
    {% endif %}
    <div class="mate__content">
        <a class="mate__name h3" href="/team/{{mate.slug}}">{{ mate.name }}</a>
        {% if mate.getDesignation %}
            <p class="mate__labels">{{ mate.designation }}</p>
        {% endif %}
        {% if group != "Journalism" %}
            {% if mate.getEmail %}
                <p class="mate__email">
                    <a href="mailto:{{ mate.email }}">{{ mate.email }}</a>
                </p>
            {% endif %}
            {% if mate.getPhone %}
                <p class="mate__phone">
                    <a href="tel:{{ mate.phone }}">{{ mate.phone }}</a>
                </p>
            {% endif %}
        {% endif %}
    </div>
</div>