{# Team member information #}
    {% if post.member_designation[0] | length > 0 %}
        <div class="icon-box"><svg class="icon-color"><use xlink:href="#person"></use></svg></div>
        <div class="mate__text"><a class="mate__designation vertical-color--{{ post.vertical.slug }}">{{ post.member_designation[0]  }}</a></div>
    {% endif %}
    {% if post.member_email[0] | length > 0 %}
        <div class="icon-box"><svg class="icon-color"><use xlink:href="#mail"></use></svg></div>
        <div class="mate__text"><a class="mate__email" href="mailto:{{ post.member_email[0] }}">{{ post.member_email[0] }}</a></div> 
    {% endif %}
    
    {% if post.member_external_link[0] != "" %}
        <div class="icon-box"><svg class="icon-color"><use xlink:href="#link"></use></svg></div>
        <div class="mate__text"><a class="mate__labels" href="{{post.member_external_link[0]}}">Visit Page</a></div>        
    {% endif %}
    {% if post.member_telephone[0] != "" %}
        <div class="icon-box"><svg class="icon-color"><use xlink:href="#phone"></use></svg></div>
        <div class="mate__text"><a class="mate__labels">{{post.member_telephone[0]}}</a></div>        
    {% endif %}

    



 