<div class="tile{{ tile.thumbnail ? ' tile--has-img'}} tile--research-cat-{{ tile.terms('research-category') | join(' tile--research-cat-') }} tile--vertical-{{ tile.terms('vertical') | join(' tile--vertical-') }}">
	<h3 class="tile__title h3"><a class="tile__link" href="{{ tile.link }}">{{ tile.title }}</a></h3>
	{% if tile.date %}
	<p class="tile__date">{{ tile.date }}</p>
	{% endif %}
	{% if tile.thumbnail %}
	<div class="tile__img-wrap">
		<img class="tile__img" src="{{ post.thumbnail.src }}" alt="{{ post.thumbnail.alt }}"/>
	</div>
	<div class="tile__bar"></div>
	{% endif %}
	<div class="tile__excerpt">{{ tile.preview.length(30).read_more('') }}</div>
	 
    <div class="tile__label">
    	{{ tile.terms('verticals') | join(', ') }}
    </div>
</div>