{# sets default feature image #}
{% set defaultimg = site.link ~ '/assets/img/default-logo.png'%}

<div class="tile{{' tile--has-img'}} tile--research-cat--{{ post.terms('research-categories')[0].slug  }} tile--vertical--{{ post.vertical.slug ? post.vertical.slug : post.terms('verticals')[0].slug }}">

  <div class="tile__img-wrap">
      <img class="tile__img" src="{{ post.thumbnail.src('featured-post') | default(defaultimg) }}" alt="{{ post.thumbnail.alt }}"/>
  </div> 
 

  <div class="tile__title-wrap">
    <div class="tile__label">
      {# The following line is the old code here #}
      {# {{ post.vertical.name ? post.vertical.name : post.terms('verticals') | join(', ') }} #}<div class="tile__bar"> </div>
    </div>

    <h3 class="tile__title h3">{{ post.title|length > 50 ? post.title|slice(0, 50) ~ "..." : post.title}}</h3>

    {% if post.post_type == 'tribe_events' %}
      <div class="tile__date">{% include 'partial/tile-event-date.twig' %}</div>
    {% elseif post.date %}
      <p class="tile__date">{{ post.date }}</p>
    {% endif %}

    <div class="tile__excerpt">
    {% if post.excerpt.length(30).read_more('') is defined %}
        {{post.excerpt.length(30).read_more('') ~ "..."}}
    {% else %}
        {{ post.excerpt|striptags|truncate(30)}}
    {% endif %}

    </div>

  </div>
  <a class="tile__link" href="{{ post.link }}">
    <span class="sr-text">{{ post.title }}</span>
  </a>
</div>
