<div class="tile{{' tile--has-img'}} tile--research-cat--{{ tile.terms('research-categories')[0].slug  }} tile--vertical--{{ tile.vertical.slug ? tile.vertical.slug : tile.terms('verticals')[0].slug }}">

  {#{% if tile.thumbnail %}#}
    <div class="tile__img-wrap">
      <img class="tile__img" src="{{tile.thumbnail.src('featured-post')}}" alt="{{ tile.thumbnail.alt }}"/>
    </div>
  {#{% endif %}#}

  <div class="tile__title-wrap">
    <div class="tile__label">
      {# The following line is the old code here #}
      {# {{ tile.vertical.name ? tile.vertical.name : tile.terms('verticals') | join(', ') }} #}<div class="tile__bar"> </div>
    </div>

    <h3 class="tile__title h3">{{ tile.title|length > 50 ? tile.title|slice(0, 50) ~ "..." : tile.title}}</h3>

    {% if tile.post_type == 'tribe_events' %}
      <div class="tile__date">{% include 'partial/tile-event-date.twig' %}</div>
    {% elseif tile.date %}
      <p class="tile__date">{{ tile.date }}</p>
    {% endif %}

    <div class="tile__excerpt">{{ tile.preview|striptags|truncate(30) }}</div>

  </div>
  <a class="tile__link" href="{{ tile.link }}">
    <span class="sr-text">{{ tile.title }}</span>
  </a>
</div>
